:markdown
  # Events

  ## Attention(data)

  Event with the user's current attention level.

  ## Blink(data)

  Event with the user's current blink level.

  ## EEG(data)

  Event showing EEG data.

  { 'Delta': 7023617, 
    'Theta': 15294464, 
    'LoAlpha': 15209472, 
    'HiAlpha': 13321984, 
    'LoBeta': 4527616, 
    'HiBeta': 12073472, 
    'LoGamma': 862464, 
    'MidGamma': 13637632 }

  ## Extended(data)

  Event with the user's current extended level.

  ## Meditation(data)

  Event with the user's current meditation level.

  ## Signal(data)

  Event showing signal strength.

  ## Wave(data)

  Event showing wave data.

  ## Start 

  Gets triggered when the Mindwave is started and ready to be used.

