
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td ardrone_ps3
      %td.links= link_to 'Code', '/documentation/examples/ardrone/go/ardrone_ps3'
      %td.links
    %tr
      %td drone
      %td.links= link_to 'Code', '/documentation/examples/ardrone/go/drone'
      %td.links
    %tr
      %td faceTracking
      %td.links= link_to 'Code', '/documentation/examples/ardrone/go/faceTracking'
      %td.links
