
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td ps3
      %td.links= link_to 'Code', '/documentation/examples/joystick/go/ps3'
      %td.links
    %tr
      %td xbox360
      %td.links= link_to 'Code', '/documentation/examples/joystick/go/xbox360'
      %td.links
