
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td hands
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/go/hands'
      %td.links
    %tr
      %td leap
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/go/leap'
      %td.links
