
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td brain
      %td.links= link_to 'Code', '/documentation/examples/neurosky/go/brain'
      %td.links
