
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td faceDetect
      %td.links= link_to 'Code', '/documentation/examples/opencv/go/faceDetect'
      %td.links
    %tr
      %td window
      %td.links= link_to 'Code', '/documentation/examples/opencv/go/window'
      %td.links
