
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td conway_sphero
      %td.links= link_to 'Code', '/documentation/examples/sphero/go/conway_sphero'
      %td.links
    %tr
      %td sphero
      %td.links= link_to 'Code', '/documentation/examples/sphero/go/sphero'
      %td.links
    %tr
      %td sphero_multiple
      %td.links= link_to 'Code', '/documentation/examples/sphero/go/sphero_multiple'
      %td.links
