language: go
sudo: true
go:
 - 1.2.2
 - 1.3.3
 - 1.4.3
 - 1.5.1
 - tip
matrix:
 allow_failures:
   - go: tip
   - go: 1.2.2
before_install:
 - sudo add-apt-repository -y ppa:kubuntu-ppa/backports
 - sudo add-apt-repository -y ppa:zoogie/sdl2-snapshots
 - sudo apt-get update
 - sudo apt-get install --force-yes libcv-dev libcvaux-dev libhighgui-dev libopencv-dev libsdl2-dev libsdl2-image-dev libsdl2 libusb-dev xvfb libgtk2.0-0
install:
 - go get -d -v ./...
 - go get github.com/mattn/goveralls
before_script:
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
script:
 - ./scripts/travis.sh
branches:
  except:
    - gobot.io
    - /^gobot-.*$/
