---
title: Gobot Getting Started
author: The Hybrid Group
description: Cylon.js Getting Started
page_title: Getting Started
page_subtitle: A Guide by Humans, for Humans.
layout: page
---

%section.intro

  = partial "../what_is_gobot"


%section.how-to
  -#%h2 How to Install Node.js
  -#%h3 OSX
  -#%p 
  -#Go to the Node.js downloads page at 
  -#= link_to "http://nodejs.org/download/", "http://nodejs.org/download/", target:"blank"  
  -#download the installer file and run it.
  -#%h3 Ubuntu
  -#%p 
  -#Follow the installation instructions at 
  -#=link_to "https://github.com/joyent/node/wiki/Installation", "https://github.com/joyent/node/wiki/Installation", target:"_blank"  
  -#to install the latest Node.js
  -#%h3 Windows
  -#%p 
  -#Go to the Node.js downloads page at 
  -#= link_to "http://nodejs.org/download/", "http://nodejs.org/download/", target:"blank"  
  -#download the installer file and run it.

%section.cylon-installation
  %h2 How to Install Gobot
  :markdown
    Install the library with: `go get -u github.com/hybridgroup/gobot`

    In order to use Gobot, you must install the libraries needed to control your particular hardware setup. For example, to use Gobot with an Beaglebone, you will need to install the `go get -u github.com/hybridgroup/gobot-beaglebone` library. Check out these examples:

  %h3 OSX
  :markdown
        :::javascript
        go get -u github.com/hybridgroup/gobot
        go get -u github.com/hybridgroup/gobot-beaglebone

  %h3 Ubuntu
  :markdown
        :::javascript
        go get -u github.com/hybridgroup/gobot
        go get -u github.com/hybridgroup/gobot-beaglebone

  %h3 Windows
  %p
    Windows setup for cylon.

  %section.cylon-running
  %h2 Gobot Robots
  %h3 Writing your robot code:

  %p 
  Now you are ready to write your own code. Take a look at the examples below, or go to the 
  = link_to "examples", "https://github.com/hybridgroup/gobot/tree/master/examples", target:"blank"  
  directory for a whole bunch of code you can use to help get started. We recommend using Test-Driven Robotics (TDR) with your preferred test frameworks.


%section.cylon-code
  %h2 Gobot Code Examples

  %h3 Example: Beaglebone with blinkm.
  :markdown
    To use this example, you must first run `go get -u github.com/hybridgroup/gobot-beaglebone`

  :markdown
        :::javascript
        package main

        import (
          . "gobot"
          "time"
        )

        func main() {

          beaglebone := new(Beaglebone)
          beaglebone.Name = "Beaglebone"

          led := NewLed(beaglebone)
          led.Driver = Driver{
            Name: "led",
            Pin: "P9_12",
          }

          connections := []interface{} {
            beaglebone,
          }
          devices := []interface{} {
            led,
          }

          work := func(){
            Every(1000 * time.Millisecond, func(){ led.Toggle() })
          }
          
          robot := Robot{
              Connections: connections, 
              Devices: devices,
              Work: work,
          }

          robot.Start()
        }

  %h3 Sphero 2.0
  :markdown
    To use this example, you must first run `go get -u github.com/hybridgroup/gobot-sphero`
  :markdown
        :::javascript
        package main
        import (
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-sphero"
          "fmt"
        )

        func main() {

          spheroAdaptor := new(gobotSphero.SpheroAdaptor)
          spheroAdaptor.Name = "Sphero"
          spheroAdaptor.Port = "127.0.0.1:4560"

          sphero := gobotSphero.NewSphero(spheroAdaptor)
          sphero.Name = "Sphero"

          connections := []interface{} {
            spheroAdaptor,
          }
          devices := []interface{} {
            sphero,
          }

          work := func(){

            sphero.Stop()

            go func() {
              for{
                gobot.On(sphero.Events["Collision"])
                fmt.Println("Collision Detected!")
              }
            }()    
            
            gobot.Every("2s", func(){ 
              dir := uint16(gobot.Random(0, 360))
              sphero.Roll(100, dir) 
            })

            gobot.Every("3s", func(){ 
              r := uint8(gobot.Random(0, 255))
              g := uint8(gobot.Random(0, 255))
              b := uint8(gobot.Random(0, 255))
              sphero.SetRGB(r, g, b)
            })
          }
          
          robot := gobot.Robot{
              Connections: connections, 
              Devices: devices,
              Work: work,
          }

          robot.Start()
        }

  

%section.contributing
  %h2 Contributing

  %p 
    You can help gobot grow by contributing your code, new drivers or platforms to the project, check the Github page
    = link_to "gobot on github.","https://github.com/hybridgroup/gobot" 

  %ul
    %li Fork it
    %li Create your feature branch (git checkout -b my-new-feature)
    %li Commit your changes (git commit -am 'Add some feature')
    %li Push to the branch (git push origin my-new-feature)
    %li Create new Pull Request

%section.footer
