---
title: Cylon.js CLI
author: The Hybrid Group
page_title: CLI
page_subtitle: "Cylon CLI (Command Line Interface) provides several tools to make RobotOps easier."
layout: documentation
page_title_show: true
---
.cli
  %h2 What is it?
  %p
    Cylon CLI is a powerful command line interface tool that provides several tools to make RobotOps and
    setting up your devices to work with cylon a lot easier.

  %h2 How to install
  %p
    For the commands to be available everywhere the cylon module needs to be installed globally.
    Here's how to do it.

  :markdown
        :::bash
        $ sudo go github.com/hybridgroup/gobot-cli

  %h2 How can I use it?
  %p
    :markdown
      The Gobot CLI tools are easy to use, designed to be intuitive, and offer contextual help regarding the commands you're using. Once you have the `gobot-cli` module installed globally, the toolkit will be available at all times. To find all available commands, just run `gobot help`.

  %h3 Printing a list of available commands
  :markdown
        :::bash
        ...


  %h3 Scanning serial port for connected devices
  :markdown
        :::bash
        ...


  %h3 Important note about Gobot CLI commands.
  
  %h2 What Gobot CLI commands are available?
  %p
    If you have only installed gobot, the list of available commands is the one printed in the section above, let's review them one by one.

  %h2 command
  %h4 Description
  %p
    text here.
  :markdown
        :::bash
        ...
  