---
page_title_show: true
layout: documentation
title: gobot Example - hello_api
page_title: "Example: hello_api"
author: The Hybrid Group
description: A gobot code example
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/gobot/blob/master/examples/hello_api.go' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::golang
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        )

        func Hello(params map[string]interface{}) string {
        	name := params["name"].(string)
        	return fmt.Sprintf("hi %v", name)
        }

        func main() {
        	master := gobot.GobotMaster()
        	gobot.Api(master)

        	hello := new(gobot.Robot)
        	hello.Name = "hello"
        	hello.Commands = map[string]interface{}{"Hello": Hello}

        	master.Robots = append(master.Robots, *hello)

        	master.Start()
        }

