---
page_title_show: true
layout: documentation
title: gobot Example - hello
page_title: "Example: hello"
author: The Hybrid Group
description: A gobot code example
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/gobot/blob/master/examples/hello.go' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::golang
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        )

        func main() {
        	robot := gobot.Robot{
        		Work: func() {
        			gobot.Every("0.5s", func() { fmt.Println("Greetings human") })
        		},
        	}

        	robot.Start()
        }

