---
page_title_show: true
layout: documentation
title: gobot Example - sphero
page_title: "Example: sphero"
author: The Hybrid Group
description: A gobot code example
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/gobot/blob/master/examples/sphero.go' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::golang
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-sphero"
        )

        func main() {

        	spheroAdaptor := new(gobotSphero.SpheroAdaptor)
        	spheroAdaptor.Name = "Sphero"
        	spheroAdaptor.Port = "/dev/rfcomm0"

        	sphero := gobotSphero.NewSphero(spheroAdaptor)
        	sphero.Name = "Sphero"

        	work := func() {
        		gobot.Every("2s", func() {
        			sphero.Roll(100, uint16(gobot.Rand(360)))
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{spheroAdaptor},
        		Devices:     []gobot.Device{sphero},
        		Work:        work,
        	}

        	robot.Start()
        }

