---
title: Cylon.js - Analog Sensor Driver
author: The Hybrid Group
page_title: Analog Sensor
page_subtitle: Driver
page_title_show: true
layout: documentation

arduino_platform: true
---

%section.intro
  = image_tag "/images/devices/analog-sensor.jpg", class: "display"
  %p
    Makes it possible to interact with analog inputs on your device and obtain values that represent the analog input send by the sensors.
    The value received from an analog input read from the sensor goes from 0 to 1027.

%section.how_to
  %h2 How to establish a connection and setup the driver
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'sensor', driver: 'analogSensor', pin: 0, lowerLimit: 100, upperLimit: 900},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'sensor', driver: 'analogSensor', pin: 0, lowerLimit: 100, upperLimit: 900
          ...

%section.how-to
  %h2 How to use
  %p 
    This example detects lower and upper limits on a photoresistor sensor.
  :markdown
        :::javascript
        ...

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/gpio/commands_analog_sensor"
  .commands_api
    = partial "/documentation/drivers/partials/gpio/events_analog_sensor"   

%section.circuit
  %h2 Circuit and Schematic
  %p
    Circuit for analog sensors is pretty much the same as the button circuit, you just need to substitute
    the button for a photoresistor.
    %br/ 
    =link_to "http://arduino.cc/en/tutorial/button", "http://arduino.cc/en/tutorial/button", target:"_blank" 
  %p
    It should look like the circuit in this example.
    %br/ 
    =link_to "http://arduino.cc/en/Tutorial/SwitchCase", "http://arduino.cc/en/Tutorial/SwitchCase", target:"_blank" 

%section.compatibility.hardware
  %h2 Works with:
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
