---
title: Gobot - Analog Sensor Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Analog Sensor
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true

arduino_platform: true
spark_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#gpio li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/analog-sensor.jpg", class: "display"
  .info-intro
    %p
      Makes it possible to interact with analog inputs on your device and obtain values that represent the analog input send by the sensors.
      The value received from an analog input read from the sensor goes from 0 to 1027.
  .clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the library with: `go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/gpio`
  :markdown
        :::go
        coming soon
        

%section.how-to#HowToUse
  %h2 How To Use
  %p 
    This example detects lower and upper limits on a photoresistor sensor.
  :markdown
        :::go
        coming soon

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_analog_sensor"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_analog_sensor"   

%section.circuit#Circuit
  %h2 Circuit 
  .description-circuit
    %p
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/analog_sensor_bb.png", :alt => ""}/ 
  .clear 
   

%section.compatibility.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in gobot.
  .devices
    = partial "documentation/partials/devices_platforms"
