---
title: Cylon.js - Analog Sensor Driver
author: The Hybrid Group
page_title: Analog Sensor
page_subtitle: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true

arduino_platform: true
---

%section.intro
  = image_tag "/images/devices/analog-sensor.jpg", class: "display"
  .info_intro
    %p
      Makes it possible to interact with analog inputs on your device and obtain values that represent the analog input send by the sensors.
      The value received from an analog input read from the sensor goes from 0 to 1027.
  .clear

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::bash
        coming soon
        

%section.how-to#HowToUse
  %h2 How To Use
  %p 
    This example detects lower and upper limits on a photoresistor sensor.
  :markdown
        :::javascript
        coming soon

%section.public-methods
  .commands_api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_analog_sensor"
  .commands_api#Events
    = partial "/documentation/drivers/partials/gpio/events_analog_sensor"   

%section.circuit#Circuit
  %h2 Circuit 
  .description_circuit
    %p
  .image_circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/analog_sensor_bb.png", :alt => ""}/ 
  .clear 
   

%section.compatibility.hardware#Compatibility
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
