---
title: Gobot - ARDrone Video Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: ARDrone Video
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

ardrone_platform: true
---

%section.intro
  =image_tag "/images/devices/ardrone-video.jpg", class: "display"
  .info-intro
    %p
      Allows user to receive in-flight video data from an ARDrone. Video data from the ARDrone is returned from either the front-facing, or the bottom-facing cameras.
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  %p
    Communication with the ARDrone's video interface takes place using a WiFi connection. The ARDrone is a WiFi access point, so it normally can be the only device you connect to, without some additional effort to reconfigure the drone itself to put it into infrastructure mode.

  :markdown
        :::go
        comming soon

%section.public-methods#Events
  %h2 Events
  We're working on the documentation for the events. Stay tuned.

%section.example
  %h2 Example of receiving video data from an ARDrone.
  :markdown
        :::go
        comming soon

%section.compatability.hardware#Compatability
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
