---
title: Gobot - ARDrone Driver
author: The Hybrid Group
page_title: ARDrone
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true


ardrone_platform: true
---
%section.intro
  =image_tag "/images/devices/ardrone-flight.jpg", class: "display"
  .info_intro
    %p
      Allows user to send flight control commands to an ARDrone. Flight control commands are those used to tell the ARDrone to take off, land, and or any number of other autonomous flight manuvers.
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  %p
    Communication with the ARDrone's flight control interface takes place using a WiFi connection. The ARDrone is a WiFi access point, so it normally can be the only device you connect to, without some additional effort to reconfigure the drone itself to put it into infrastructure mode.
  
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'},

          device: {name: 'ardrone', driver: 'ardrone'},
        ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'

          device:
            name: 'ardrone', driver: 'ardrone'
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %p 
    This example controls an ARDrone to take off, and then land.

  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'},
          device: {name: 'drone', driver: 'ardrone'},
          work: function(my) {
            my.drone.takeoff();

            after((10).seconds(), function() {
              my.drone.land();
            }

            after((15).seconds(), function() {
              my.drone.stop();
            }
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'

          device:
            name: 'drone', driver: 'ardrone'

          work: (my) ->
            my.drone.takeoff()

            after 10.seconds(), ->
              my.drone.land()

            after 15.seconds(), ->
              my.drone.stop()

        .start()

%section.public-methods
  .commands_api#Commands
    = partial "/documentation/drivers/partials/ardrone/commands_flight"
  .commands_api#Events
    = partial "/documentation/drivers/partials/ardrone/events_flight"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
