---
title: Gobot - HMC6352 Digital Compass Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: HMC6352 Digital Compass
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true

beaglebone_platform: true
arduino_platform: true

---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#i2c li:nth-child(2)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/hmc6352-compass.jpg", class: "display"
  .info-intro  
    %p Allows user to read heading from HMC6352 Digital Compass via i2c interface
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the library with: `go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/i2c`
  :markdown
        :::go
        coming soon

%section.how-to#HowToUse
  %h2 How To Use
  %p To read the current compass heading, just use the `heading()` function:
  :markdown
        :::go
        coming soon
  %h3 Example using a HMC6352 Digital Compass.
  :markdown
        :::go
        coming soon

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/i2c/commands_hmc6352"
  .commands-api#Events
    = partial "/documentation/drivers/partials/i2c/events_hmc6352"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p 
  .image-circuit 
    %img{:src => "/documentation/drivers/breadboards/i2c/hmc6352_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
   
