---
title: Gobot - Generic Joystick Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Generic Joystick
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
active_menu_docs: true
subnavjs: true

joystick_platform: true
---
%section.intro
  =image_tag "/images/devices/joystick.jpg", class: "display"
  .info-intro
    %p
      Allows user to interact with gobot devices using any joystick or game controller that is compatible with SDL.
  .clear
%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
        :::go
        require 'gobot'
        connection :joystick, :adaptor => :joystick
        device :controller, :driver => :joystick, :connection => :joystick, :interval => 0.1

%section.public-events
  %h2 Public driver events
  %h3 joystick
  %p Get's triggered every "interval" amount of time if a joystick event occured, you can access values x, y, s.

  %h3 button
  %p Get's triggered every "interval" amount of time if the button was pressed, you can access the value of the pressed button.

  %h3 How to use events and call them on your drivers
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::ruby
        on joystick, :joystick => proc { |caller, value|
          puts 'joystick ' + value[:s].to_s, value[:x], value[:y]
        }

%section.how-to
  %h2 How to use
  %h3 Example receiving button events from a generic joystick.
  :markdown
        :::ruby
        require 'gobot'

        connection :joystick, :adaptor => :joystick
        device :joystick, :driver => :joystick, :connection => :joystick, :interval => 0.1

        work do
          on joystick, :joystick => proc { |caller, value|
            puts 'joystick ' + value[:s].to_s, value[:x], value[:y]
          }
          on joystick, :button => proc { |*value|
            puts 'button ' + value[1]
          }
        end

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
