---
title: Cylon.js - Leap Motion Driver
author: The Hybrid Group
page_title: Leap Motion
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/leap_motion.jpg", class: "display"
    %p
      Allows user to interact with Cylon.js devices using a Leap Motion controller. The Leap Motion uses its built in cameras to track the user's hand motions, and translations those to events that Cylon.js can use to trigger actions or control hardware.

  %section.how-to
    %h2 How to establish a connection and setup the driver
    :markdown
          :::ruby
          require 'Cylon.js'
          connection :leapmotion, :adaptor => :leapmotion, :port => '127.0.0.1:6437'
          device :leapmotion, :connection => :leapmotion, :driver => :leapmotion

  %section.public-methods
    %h2 Public driver events
    %h3 hand
    %p
      Gets triggered when doing a hand motion, makes hand input available.

    %h3 gesture
    %p
      Gets triggered when doing a gesture motion, makes hand input available.

    %h3 pointable
    %p
      Gets triggered when doing a pointable motion, makes hand input available.

    %h3 frame
    %p
      Gets triggered with every motion detected, makes frame input available.

    %h3 How to use events and call them on your drivers
    %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
    :markdown
          :::ruby
          on leapmotion, :hand => proc { |sender, hand| puts hand.inspect }

  %section.how-to
    %h2 How to use
    %h3 Example receiving hand motion events from a Leap Motion.
    :markdown
          :::ruby
          require 'Cylon.js'

          connection :leapmotion, :adaptor => :leapmotion, :port => '127.0.0.1:6437'
          device :leapmotion, :connection => :leapmotion, :driver => :leapmotion
 
          work do
            on leapmotion, :hand => :wave
          end

          def wave(sender, hand)
            puts hand.inspect
          end

  %section.compatability.hardware
    %h2 Works with:
    .devices
      = partial "documentation/partials/leapmotion"
