---
title: Gobot - LED Driver
author: The Hybrid Group
page_title: LED
page_subtitle: Driver
page_title_show: true
layout: documentation

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
spark_platform: true
---
%section.intro
  =image_tag "/images/devices/LED.jpg", class: "display"
  %p
    Allows user to interact with LEDs through digital output and PWM (Pulse Width Modulation)

%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
    Install the library with: `go get -u github.com/hybridgroup/gobot-gpio`
  %h3 For Beaglebone:
  :markdown
        :::go
        package main

        import (
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-beaglebone"
          "github.com/hybridgroup/gobot-gpio"
        )

        func main() {
          beaglebone := new(gobotBeaglebone.Beaglebone)
          beaglebone.Name = "beaglebone"

          led := gobotGPIO.NewLed(beaglebone)
          led.Name = "led"
          led.Pin = "P9_12"
        ...
        
%section.how-to
  %h2 How to use
  %p
    This example turns an LED on and off every 1s.

  :markdown
        :::javascript
        package main

        import (
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-beaglebone"
          "github.com/hybridgroup/gobot-gpio"
        )

        func main() {
          beaglebone := new(gobotBeaglebone.Beaglebone)
          beaglebone.Name = "beaglebone"

          led := gobotGPIO.NewLed(beaglebone)
          led.Name = "led"
          led.Pin = "P9_12"

          work := func() {
            gobot.Every("1s", func() { led.Toggle() })
          }

          robot := gobot.Robot{
            Connections: []interface{}{beaglebone},
            Devices:     []interface{}{led},
            Work:        work,
          }

          robot.Start()
        }

%section.public-methods
  .commands_api
    = #partial "/documentation/drivers/partials/gpio/commands_led"
  .commands_api
    = #partial "/documentation/drivers/partials/gpio/events_led"   

%section.public-methods
  .commands_api
    %h1 Commands
    
    %h2 OnC
    %p Turns LED on.
    %h5 Params
    %p `no params`
    %h5 Returns
    %p nil

    %h2 OffC
    %p Turns LED off.
    %h5 Params
    %p `no params`
    %h5 Returns
    %p nil

    %h2 ToggleC
    %p Turns the LED on, or off, depending on if it is already off, or on, respectively.
    %h5 Params
    %p `no params`
    %h5 Returns
    %p nil

  .commands_api
    %h1 Events

    %h2 start
    %p Sent when the device has been started and is ready to use.  
   



%section.circuit
  %h2 Circuit and Schematic
  =link_to "http://arduino.cc/en/Tutorial/Blink", "http://arduino.cc/en/Tutorial/Blink"

%section.compatability.hardware
  %h2 Works with:
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
