---
title: Gobot - LED Driver
author: The Hybrid Group
page_title: LED
page_subtitle: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
spark_platform: true
---
%section.intro
  =image_tag "/images/devices/LED.jpg", class: "display"
  .info-intro
    %p  Allows user to interact with LEDs through digital output and PWM (Pulse Width Modulation)
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the library with: `go get -u github.com/hybridgroup/gobot-gpio`
  %h3 For Beaglebone:
  :markdown
        :::go
        package main

        import (
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-beaglebone"
          "github.com/hybridgroup/gobot-gpio"
        )

        func main() {
          beaglebone := new(gobotBeaglebone.Beaglebone)
          beaglebone.Name = "beaglebone"

          led := gobotGPIO.NewLed(beaglebone)
          led.Name = "led"
          led.Pin = "P9_12"
        ...
        
%section.how-to#HowToUse
  %h2 How To Use
  %p
    This example turns an LED on and off every 1s.

  :markdown
        :::go
        package main

        import (
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-beaglebone"
          "github.com/hybridgroup/gobot-gpio"
        )

        func main() {
          beaglebone := new(gobotBeaglebone.Beaglebone)
          beaglebone.Name = "beaglebone"

          led := gobotGPIO.NewLed(beaglebone)
          led.Name = "led"
          led.Pin = "P9_12"

          work := func() {
            gobot.Every("1s", func() { led.Toggle() })
          }

          robot := gobot.Robot{
            Connections: []interface{}{beaglebone},
            Devices:     []interface{}{led},
            Work:        work,
          }

          robot.Start()
        }

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_led"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_led"   


%section.circuit#Circuit
  %h2 Circuit 
  .description-circuit
    %p 
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/led_bb.png", :alt => ""}/ 
  .clear
  
%section.compatability.hardware#Compatability
  %h2 Compatability
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
