---
title: Cylon.js - LED Driver
author: The Hybrid Group
page_title: LED
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/LED.jpg", class: "display"
    %p
      Allows user to interact with LEDs through digital output and PWM (Pulse Width Modulation)

  %section.how-to
    %h2 How to establish a connection and setup the driver

    :markdown
          :::javascript
          coming soon ...
          
    

    -#%h3 For Digispark:
    -#:markdown
          -#:::ruby

  %section.public-methods
    %h2 Commands:
    
    %dl.methods 
      %dt IsOn
      %dd Returns true if LED is on, otherwise returns false.
      %dt IsOff
      %dd Returns true if LED is off, otherwise returns false.
      %dt On
      %dd Turns LED on.
      %dt Off
      %dd Turns LED off.
      %dt toggle
      %dd Turns the LED on, or off, depending on if it is already off, or on, respectively.
      %dt changeState(pin,level)
      %dd 


    %h2 Events

    %dl.methods 
      %dt start
      %dd Sent when the device has been started and is ready to use.  

  %section.how-to
    %h2 How to use
    %p
      This example turns an LED on and off.

    :markdown
          :::javascript
          coming soon ...


  %section.circuit
    %h2 Circuit and Schematic
    =link_to "http://arduino.cc/en/Tutorial/Blink", "http://arduino.cc/en/Tutorial/Blink"

  %section.compatability.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in Cylon.js.
    .devices
      = #partial "documentation/partials/arduino"
      = partial "documentation/partials/beaglebone"
      = partial "documentation/partials/digispark"
      =# partial "documentation/partials/raspberry-pi"
