---
title: Gobot - Motor Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Motor
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true

arduino_platform: true
spark_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#gpio li:nth-child(6)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/motor.jpg", class: "display"
  .info-intro
    %p
      Provides motor manipulation tools for gobot like on/off, speed modulation using PWM,use of bidirectional motors using forward/backward pins.
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the library with: `go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/gpio`
  :markdown
        :::go
        coming soon

%section.how-to#HowToUse
  %h2 How To Use
  %p
    This example turns on a DC motor using PWM.
  :markdown
        :::go
        coming soon
        
%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_analog_sensor"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_analog_sensor" 

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p  
  .image-circuit 
    %img{:src => "/documentation/drivers/breadboards/gpio/motor_bb.png", :alt => ""}/ 
  .clear 

%section.compatibility.hardware#Compatibility
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in gobot.
  .devices
    = partial "documentation/partials/devices_platforms"

