---
title: Gobot - Servo Driver
author: The Hybrid Group
page_title: Servo
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/servo.jpg", class: "display"
    %p
      Provides an interface for making servos easy to work and interact with from Gobot.

  %section.how-to
    %h2 How to establish a connection and setup the driver
    %h3 JavaScript
    :markdown
          :::javascript
          package main

          import (
                  "fmt"
                  "github.com/hybridgroup/gobot"
                  "github.com/hybridgroup/gobot-digispark"
                  "github.com/hybridgroup/gobot-gpio"
          )

          func main() {

                  digispark := new(gobotDigispark.DigisparkAdaptor)
                  digispark.Name = "Digispark"

                  servo := gobotGPIO.NewServo(digispark)
                  servo.Name = "servo"
          ...

    

  %section.public-methods
    %h2 Commands:
    
    %dl.methods 
      %dt MoveC
      %dd Moves the servo to the specified angle, angle must be an integer value between 0 and 180.
      %dt MinC
      %dd Moves the servo to the min angle 0.
      %dt CenterC
      %dd Moves the servo to the center angle 90.
      %dt MaxC
      %dd Moves the servo to the max angle 180.

    %h2 Events

    %dl.methods 
      %dt start
      %dd Sent when the device has been started and is ready to use.
    

  %section.how-to
    %h2 How to use
    %p
      This example moves a servo from a random angle.

    %h3 Example
    :markdown
          :::javascript
          package main

          import (
                  "fmt"
                  "github.com/hybridgroup/gobot"
                  "github.com/hybridgroup/gobot-digispark"
                  "github.com/hybridgroup/gobot-gpio"
          )

          func main() {

                  digispark := new(gobotDigispark.DigisparkAdaptor)
                  digispark.Name = "Digispark"

                  servo := gobotGPIO.NewServo(digispark)
                  servo.Name = "servo"

                  work := func() {
                          servo.InitServo()
                          gobot.Every("1s", func() {
                                  i := int(gobot.Rand(180))
                                  fmt.Println("Turning", i)
                                  servo.Move(i)
                          })
                  }

                  robot := gobot.Robot{
                          Connections: []interface{}{digispark},
                          Devices:     []interface{}{servo},
                          Work:        work,
                  }

                  robot.Start()
          }
    

  %section.circuit
    %h2 Circuit and Schematic
    %p
      =link_to "http://arduino.cc/en/Tutorial/Sweep", "http://arduino.cc/en/Tutorial/Sweep", target:"_blank" 

  %section.compatability.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in Cylon.js.
    .devices
      = #partial "documentation/partials/arduino"
      = partial "documentation/partials/digispark"


