---
title: Gobot - Sphero Driver
author: The Hybrid Group
page_title: Sphero
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/sphero.jpg", class: "display"
    %p
      Allows user to interact with the Sphero robotic sphero using Gobot.

  %section.how-to
    %h2 How to establish a connection and setup the driver
    %p
      That is pretty simple once the Sphero is ready (connected and listening), you just need three lines of code and you are set,
      Gobot and the Sphero driver take care of the rest.

      :markdown
        Install the library with: `go get -u github.com/hybridgroup/gobot-sphero`

            :::javascript
            package main
            import (
              "github.com/hybridgroup/gobot"
              "github.com/hybridgroup/gobot-sphero"
              "fmt"
            )

            func main() {

              spheroAdaptor := new(gobotSphero.SpheroAdaptor)
              spheroAdaptor.Name = "Sphero"
              spheroAdaptor.Port = "127.0.0.1:4560"

              sphero := gobotSphero.NewSphero(spheroAdaptor)
              sphero.Name = "Sphero"

              connections := []interface{} {
                spheroAdaptor,
              }
              devices := []interface{} {
                sphero,
              }
            ...

  %section.public-methods
    %h2 Commands:
    
    %dl.methods
      %dt abortMacro → (ID code , command number)
      %dd 

      %dt abortOrbBasicProgram 
      %dd

      %dt appendMacroChunck(MACRO Chunk) 
      %dd 

      %dt appendOrbBasicFragment(Area, Program Code) 
      %dd  

      %dt configureCollisionDetection(Meth,(Xt, Yt),(Xspd, Yspd),Dead) 
      %dd Sets the sphero to detect collisions and report them.

      %dt configureLocator(flag, x, y, Yaw Tare) 
      %dd 

      %dt detectCollisions 
      %dd Sets the sphero to detect collisions and report them.

      %dt eraseOrbBasicStorage(Area) 
      %dd 

      %dt executeOrbBasicProgram(Area, Start Line, Start Line) 
      %dd 

      %dt getApplicationConfigurationBlock 
      %dd 

      %dt getConfigurationBlock(ID) 
      %dd 

      %dt getDeviceMode → (Mode), options: 00h (Normal mode) | 01h (User Hack mode)
      %dd 

      %dt getMacroStatus → (ID code , cmd number, cmd number)
      %dd 

      %dt getPermanentOptionFlags → (FLAGS), options: 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 6-31
      %dd 

      %dt getRGB → (red,green,blue) | (color)
      %dd 

      %dt getTemporaryOptionFlags → (FLAGS), options: 0 | 1-31
      %dd 

      %dt reInitializeMacroExecutive 
      %dd 

      %dt readLocator → (XPOS, YPOS, XVEL, YVEL, SOG)
      %dd 

      %dt roll(speed, heading, state) 
      %dd This commands Sphero to roll along the provided vector. Both a speed and a heading are required; the latter is considered relative to the last calibrated direction.

      %dt runMacro(SEQ, DLEN, ID) 
      %dd 

      %dt saveMacro(data) 
      %dd 

      %dt saveTemporaryMacro(data) 
      %dd 

      %dt selfLevel(Options, Angle Limit, Timeout, True Time), options: ((0 | 1 | 2 |3 ), (0 | 1 to 90), (0 | 1 to 255), (0 | 1 to 255) 
      %dd 

      %dt setAccelerometerRange(Range Idx), options: 0 | 1 | 2 | 3 
      %dd 

      %dt setApplicationConfigurationBlock
      %dd 

      %dt setBackLED(BRIGHT) 
      %dd 

      %dt setBoostWithTime(STATE) 
      %dd 

      %dt setColor(color) 
      %dd This allows you to set the color of the sphero, just pass an array containing RGB hex or a string with one of the color names of the list.

      %dt setConfigurationBlock(value) 
      %dd 

      %dt setDataStreaming(N, M, MASK, PCNT, MASK2) 
      %dd 

      %dt setDeviceMode(MODE) 
      %dd 

      %dt setHeading(HEADING) 
      %dd

      %dt setMacroParameter(Param, Val1, Val2) 
      %dd 

      %dt setMotionTimeout(TIME) 
      %dd 

      %dt setPermanentOptionFlags(FLAGS) 
      %dd 

      %dt setRGB(color, persist) 
      %dd This allows you to set the RGB LED color, just pass an array containing RGB hex or a string with one of the color names of the list.  

      %dt setRawMotorValues(L-MODE, L-POWER, R-MODE, R-POWER) 
      %dd 

      %dt setRotationRate(RATE) 
      %dd 

      %dt setStabalisation(bool) 
      %dd 

      %dt setTemporaryOptionFlags(FLAGS) 
      %dd 

      %dt stop
      %dd Stops the sphero.

      %dt submitValueToInputStatement(VAL) 
      %dd 



  %section.public-events
    %h2 Events:

    %dl.methods 
      %dt update
      %dd 
        This event will contain one of the following events.
        %br/  
        You can also subscribe to one of the specific events, if that is the information you are interested in.
      %dt collision
      %dd Gets triggered when the sphero hits something or falls from a step.
      %dt messages(data)
      %dd Gets triggered when has a message.
      %dt notifications(data)
      %dd Gets triggered when has a notification.
      %dt connect
      %dd Opens the connection to Sphero.
      %dt start
      %dd Sent when the device has been started and is ready to use.
  

    -#%h3 How to use events and call them on your drivers
    -#%p
      -#Pretty simple, when the connection and the driver have been setup (as explained above)
      -#you can call events on the sphero driver as follows:
    -#:markdown
          -#:::ruby

  %section.how-to
    %h2 How to use
    %p 
      This example rolls the sphero in a random direction and change direction every 2 seconds.

      %h3 JavaScript
      :markdown
            :::javascript
            package main
            import (
              "github.com/hybridgroup/gobot"
              "github.com/hybridgroup/gobot-sphero"
              "fmt"
            )

            func main() {

              spheroAdaptor := new(gobotSphero.SpheroAdaptor)
              spheroAdaptor.Name = "Sphero"
              spheroAdaptor.Port = "127.0.0.1:4560"

              sphero := gobotSphero.NewSphero(spheroAdaptor)
              sphero.Name = "Sphero"

              connections := []interface{} {
                spheroAdaptor,
              }
              devices := []interface{} {
                sphero,
              }

              work := func(){
                gobot.Every("2s", func(){ 
                  sphero.Roll(100, uint16(gobot.Random(0, 360))) 
                })
              }

              robot := gobot.Robot{
                  Connections: connections, 
                  Devices: devices,
                  Work: work,
              }

              robot.Start()
            }

  
  %section 
    %h2 Sphero Colors (R,G,B)

    %dl.colors 
      %dt aliceblue            
      %dd 
        .aliceblue.square
        %p (240, 248, 255)
      .clear  
      %dt antiquewhite         
      %dd 
        .antiquewhite.square
        %p (250, 235, 215) 
      .clear   
      %dt aqua                 
      %dd 
        .square.aqua
        %p (0, 255, 255)
      .clear   
      %dt aquamarine           
      %dd
        .square.aquamarine 
        %p (127, 255, 212)
      .clear   
      %dt azure                 
      %dd 
        .square.azure
        %p (240, 255, 255)
      .clear   
      %dt beige                 
      %dd 
        .square.beige
        %p (245, 245, 220)
      .clear   
      %dt bisque                
      %dd 
        .square.bisque
        %p (255, 228, 196)
      .clear   
      %dt black                 
      %dd 
        .square.black
        %p (0, 0, 0)
      .clear   
      %dt blanchedalmond        
      %dd 
        .square.blanchedalmond
        %p (255, 235, 205)
      .clear   
      %dt blue                 
      %dd 
        .square.blue
        %p (0, 0, 255)
      .clear   
      %dt blueviolet            
      %dd 
        .square.blueviolet
        %p (138, 43, 226)
      .clear   
      %dt brown                 
      %dd 
        .square.brown
        %p (165, 42, 42)
      .clear   
      %dt burlywood             
      %dd 
        .square.burlywood
        %p (222, 184, 135)
      .clear   
      %dt cadetblue             
      %dd
        .square.cadetblue 
        %p (95, 158, 160)
      .clear   
      %dt chartreuse            
      %dd 
        .square.chartreuse
        %p (127, 255, 0)
      .clear   
      %dt chocolate             
      %dd 
        .square.chocolate
        %p (210, 105, 30)
      .clear   
      %dt coral                 
      %dd 
        .square.coral
        %p (255, 127, 80)
      .clear   
      %dt cornflowerblue        
      %dd 
        .square.cornflowerblue
        %p (100, 149, 237)
      .clear   
      %dt cornsilk              
      %dd   
        .square.cornsilk
        %p (255, 248, 220)
      .clear   
      %dt crimson               
      %dd 
        .square.crimson
        %p (220, 20, 60)
      .clear   
      %dt cyan                  
      %dd 
        .square.cyan
        %p (0, 255, 255)
      .clear   
      %dt darkblue              
      %dd 
        .square.darkblue
        %p (0, 0, 139)
        
      .clear   
      %dt darkcyan              
      %dd 
        .square.darkcyan
        %p (0, 139, 139)
        
      .clear   
      %dt darkgoldenrod         
      %dd 
        .square.darkgoldenrod
        %p (184, 134, 11)
        
      .clear   
      %dt darkgray              
      %dd 
        .square.darkgray
        %p (169, 169, 169)
        
      .clear   
      %dt darkgreen             
      %dd 
        .square.darkgreen
        %p (0, 100, 0)
        
      .clear   
      %dt darkkhaki             
      %dd 
        .square.darkkhaki
        %p (189, 183, 107)
        
      .clear   
      %dt darkmagenta           
      %dd 
        .square.darkmagenta
        %p (139, 0, 139)
        
      .clear   
      %dt darkolivegreen        
      %dd 
        .square.darkolivegreen
        %p (85, 107, 47)
        
      .clear   
      %dt darkorange            
      %dd 
        .square.darkorange
        %p (255, 140, 0)
        
      .clear   
      %dt darkorchid            
      %dd 
        .square.darkorchid
        %p (153, 50, 204)
        
      .clear   
      %dt darkred               
      %dd 
        .square.darkred
        %p (139, 0, 0)
        
      .clear   
      %dt darksalmon            
      %dd 
        .square.darksalmon
        %p (233, 150, 122)
        
      .clear   
      %dt darkseagreen          
      %dd 
        .square.darkseagreen
        %p (143, 188, 143)
        
      .clear   
      %dt darkslateblue         
      %dd 
        .square.darkslateblue
        %p (72, 61, 139)
        
      .clear   
    %dl.colors   
      %dt darkslategray         
      %dd 
        .square.darkslategray
        %p (47, 79, 79)
      .clear   
      %dt darkturquoise         
      %dd 
        .square.darkturquoise
        %p (0, 206, 209)
      .clear   
      %dt darkviolet            
      %dd 
        .square.darkviolet
        %p (148, 0, 211)
      .clear   
      %dt deeppink              
      %dd 
        .square.deeppink
        %p (255, 20, 147)
      .clear   
      %dt deepskyblue           
      %dd 
        .square.deepskyblue
        %p (0, 191, 255)
      .clear   
      %dt dimgray               
      %dd 
        .square.dimgray
        %p (105, 105, 105)
      .clear   
      %dt dodgerblue            
      %dd 
        .square.dodgerblue
        %p (30, 144, 255)
        
      .clear   
      %dt firebrick:             
      %dd 
        .square.firebrick
        %p (178, 34, 34)
        
      .clear   
      %dt floralwhite           
      %dd 
        .square.floralwhite
        %p (255, 250, 240)
        
      .clear   
      %dt forestgreen           
      %dd 
        .square.forestgreen
        %p (34, 139, 34)
        
      .clear   
      %dt fuchsia               
      %dd 
        .square.fuchsia
        %p (255, 0, 255)
        
      .clear   
      %dt gainsboro             
      %dd 
        .square.gainsboro
        %p (220, 220, 220)
        
      .clear   
      %dt ghostwhite            
      %dd 
        .square.ghostwhite
        %p (248, 248, 255)
        
      .clear        
      %dt gold                  
      %dd 
        .square.gold
        %p (255, 215, 0)
        
      .clear   
      %dt goldenrod             
      %dd 
        .square.goldenrod
        %p (218, 165, 32)
        
      .clear   
      %dt gray                  
      %dd 
        .square.gray
        %p (128, 128, 128)
        
      .clear   
      %dt green                 
      %dd 
        .square.green
        %p (0, 128, 0)
        
      .clear   
      %dt greenyellow           
      %dd 
        .square.greenyellow
        %p (173, 255, 47)
        
      .clear   
      %dt honeydew              
      %dd 
        .square.honeydew
        %p (240, 255, 240)
        
      .clear   
      %dt hotpink               
      %dd 
        .square.hotpink
        %p (255, 105, 180)
        
      .clear   
      %dt indianred             
      %dd 
        .square.indianred
        %p (205, 92, 92)
        
      .clear   
      %dt indigo                
      %dd 
        .square.indigo
        %p (75, 0, 130)
        
      .clear   
      %dt ivory                 
      %dd 
        .square.ivory
        %p (255, 255, 240)
        
      .clear   
      %dt khaki                 
      %dd 
        .square.khaki
        %p (240, 230, 140)
        
      .clear   
      %dt lavender              
      %dd 
        .square.lavender
        %p (230, 230, 250)
        
      .clear   
      %dt lavenderblush         
      %dd 
        .square.lavenderblush
        %p (255, 240, 245)
        
      .clear   
      %dt lawngreen             
      %dd 
        .square.lawngreen
        %p (124, 252, 0)
        
      .clear   
      %dt lemonchiffon          
      %dd 
        .square.lemonchiffon
        %p (255, 250, 205)
        
      .clear   
      %dt lightblue             
      %dd 
        .square.lightblue
        %p (173, 216, 230)
        
      .clear   
      %dt lightcoral            
      %dd 
        .square.lightcoral
        %p (240, 128, 128)
        
      .clear   
      %dt lightcyan             
      %dd 
        .square.lightcyan
        %p (224, 255, 255)
        
      .clear   
      %dt lightgoldenrodyellow  
      %dd 
        .square.lightgoldenrodyellow
        %p (250, 250, 210)
        
      .clear   
      %dt lightgreen            
      %dd 
        .square.lightgreen
        %p (144, 238, 144)
        
      .clear   
      %dt lightgrey             
      %dd 
        .square.lightgrey
        %p (211, 211, 211)
        
      .clear   
      %dt lightpink             
      %dd 
        .square.lightpink
        %p (255, 182, 193)
        
      .clear   
    %dl.colors   
      %dt lightsalmon           
      %dd 
        .square.lightsalmon
        %p (255, 160, 122)
        
      .clear   
      %dt lightseagreen         
      %dd 
        .square.lightseagreen
        %p (32, 178, 170)
        
      .clear   
      %dt lightskyblue          
      %dd 
        .square.lightskyblue
        %p (135, 206, 250)
        
      .clear   
      %dt lightslategray        
      %dd 
        .square.lightslategray
        %p (119, 136, 153)
        
      .clear   
      %dt lightsteelblue        
      %dd 
        .square.lightsteelblue
        %p (176, 196, 222)
        
      .clear   
      %dt lightyellow           
      %dd 
        .square.lightyellow
        %p (255, 255, 224)
        
      .clear   
      %dt lime                  
      %dd 
        .square.lime
        %p (0, 255, 0)
        
      .clear   
      %dt limegreen             
      %dd 
        .square.limegreen
        %p (50, 205, 50)
        
      .clear   
      %dt linen                 
      %dd 
        .square.linen
        %p (250, 240, 230)
        
      .clear   
      %dt magenta               
      %dd 
        .square.magenta
        %p (255, 0, 255)
        
      .clear   
      %dt maroon                
      %dd 
        .square.maroon
        %p (128, 0, 0)
        
      .clear   
      %dt mediumaquamarine      
      %dd 
        .square.mediumaquamarine
        %p (102, 205, 170)
        
      .clear   
      %dt mediumblue            
      %dd 
        .square.mediumblue
        %p (0, 0, 205)
        
      .clear   
      %dt mediumorchid          
      %dd 
        .square.mediumorchid
        %p (186, 85, 211)
        
      .clear   
      %dt mediumpurple          
      %dd 
        .square.mediumpurple
        %p (147, 112, 219)
        
      .clear   
      %dt mediumseagreen        
      %dd 
        .square.mediumseagreen
        %p (60, 179, 113)
        
      .clear   
      %dt mediumslateblue       
      %dd 
        .square.mediumslateblue
        %p (123, 104, 238)
        
      .clear   
      %dt mediumspringgreen     
      %dd 
        .square.mediumspringgreen
        %p (0, 250, 154)
        
      .clear   
      %dt mediumturquoise       
      %dd 
        .square.mediumturquoise
        %p (72, 209, 204)
        
      .clear   
      %dt mediumvioletred       
      %dd 
        .square.mediumvioletred
        %p (199, 21, 133)
        
      .clear   
      %dt midnightblue          
      %dd 
        .square.midnightblue
        %p (25, 25, 112)
        
      .clear   
      %dt mintcream             
      %dd 
        .square.mintcream
        %p (245, 255, 250)
        
      .clear   
      %dt mistyrose             
      %dd 
        .square.mistyrose
        %p (255, 228, 225)
        
      .clear   
      %dt moccasin              
      %dd 
        .square.moccasin
        %p (255, 228, 181)
        
      .clear    
      %dt navajowhite           
      %dd 
        .square.navajowhite
        %p (255, 222, 173)
        
      .clear       
      %dt navy                  
      %dd 
        .square.navy
        %p (0, 0, 128)
        
      .clear     
      %dt oldlace               
      %dd 
        .square.oldlace
        %p (253, 245, 230)
        
      .clear   
      %dt olive                 
      %dd 
        .square.olive
        %p (128, 128, 0)
        
      .clear   
      %dt olivedrab             
      %dd 
        .square.olivedrab
        %p (107, 142, 35)
        
      .clear   
      %dt orange                
      %dd 
        .square.orange
        %p (255, 165, 0)
        
      .clear   
      %dt orangered             
      %dd 
        .square.orangered
        %p (255, 69, 0)
        
      .clear   
      %dt orchid                
      %dd 
        .square.orchid
        %p (218, 112, 214)
        
      .clear   
      %dt palegoldenrod         
      %dd 
        .square.palegoldenrod
        %p (238, 232, 170)
        
      .clear   
      %dt palegreen             
      %dd 
        .square.palegreen
        %p (152, 251, 152)
        
      .clear   
      %dt paleturquoise         
      %dd 
        .square.paleturquoise
        %p (175, 238, 238)
        
      .clear   
    %dl.colors   
      %dt palevioletred         
      %dd 
        .square.palevioletred
        %p (219, 112, 147)
        
      .clear   
      %dt papayawhip            
      %dd 
        .square.papayawhip
        %p (255, 239, 213)
        
      .clear   
      %dt peachpuff             
      %dd 
        .square.peachpuff
        %p (255, 218, 185)
        
      .clear   
      %dt peru                  
      %dd 
        .square.peru
        %p (205, 133, 63)
        
      .clear   
      %dt pink                  
      %dd 
        .square.pink
        %p (255, 192, 203)
        
      .clear   
      %dt plum                  
      %dd 
        .square.plum
        %p (221, 160, 221)
        
      .clear   
      %dt powderblue            
      %dd 
        .square.powderblue
        %p (176, 224, 230)
        
      .clear   
      %dt purple                
      %dd 
        .square.purple
        %p (128, 0, 128)
        
      .clear   
      %dt red                   
      %dd 
        .square.red
        %p (255, 0, 0)
        
      .clear   
      %dt rosybrown             
      %dd 
        .square.rosybrown
        %p (188, 143, 143)
        
      .clear   
      %dt royalblue             
      %dd 
        .square.royalblue
        %p (65, 105, 225)
        
      .clear   
      %dt saddlebrown           
      %dd 
        .square.saddlebrown
        %p (139, 69, 19)
        
      .clear   
      %dt salmon                
      %dd 
        .square.salmon
        %p (250, 128, 114)
        
      .clear   
      %dt sandybrown            
      %dd 
        .square.sandybrown
        %p (244, 164, 96)
        
      .clear   
      %dt seagreen              
      %dd 
        .square.seagreen
        %p (46, 139, 87)
        
      .clear   
      %dt seashell              
      %dd 
        .square.seashell
        %p (255, 245, 238)
        
      .clear   
      %dt sienna                
      %dd 
        .square.sienna
        %p (160, 82, 45)
        
      .clear   
      %dt silver                
      %dd 
        .square.silver
        %p (192, 192, 192)
        
      .clear   
      %dt skyblue               
      %dd 
        .square.skyblue
        %p (135, 206, 235)
        
      .clear   
      %dt slateblue             
      %dd 
        .square.slateblue
        %p (106, 90, 205)
        
      .clear   
      %dt slategray             
      %dd 
        .square.slategray
        %p (112, 128, 144)
        
      .clear   
      %dt snow                  
      %dd 
        .square.snow
        %p (255, 250, 250)
        
      .clear   
      %dt springgreen           
      %dd 
        .square.springgreen
        %p (0, 255, 127)
        
      .clear   
      %dt steelblue             
      %dd 
        .square.steelblue
        %p (70, 130, 180)
        
      .clear   
      %dt tan                   
      %dd 
        .square.tan
        %p (210, 180, 140)
        
      .clear   
      %dt teal                  
      %dd 
        .square.teal
        %p (0, 128, 128)
        
      .clear   
      %dt thistle               
      %dd 
        .square.thistle
        %p (216, 191, 216)
        
      .clear   
      %dt tomato                
      %dd 
        .square.tomato
        %p (255, 99, 71)
        
      .clear   
      %dt turquoise             
      %dd 
        .square.turquoise
        %p (64, 224, 208)
        
      .clear   
      %dt violet                
      %dd 
        .square.violet
        %p (238, 130, 238)
        
      .clear   
      %dt wheat                 
      %dd 
        .square.wheat
        %p (245, 222, 179)
        
      .clear   
      %dt white                 
      %dd 
        .square.white
        %p (255, 255, 255)
        
      .clear   
      %dt whitesmoke            
      %dd 
        .square.whitesmoke
        %p (245, 245, 245)
        
      .clear   
      %dt yellow                
      %dd 
        .square.yellow
        %p (255, 255, 0)
        
      .clear   
      %dt yellowgreen           
      %dd 
        .square.yellowgreen
        %p (154, 205, 50)
        
      .clear 
    .clear    
  .clear

  %section.compatability.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in Cylon.js.
    .devices
      = partial "documentation/partials/sphero"
