---
title: Gobot - Sphero Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Sphero
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
subnav_driver: true
sphero_colors_driver: true
active_menu_docs: true
subnavjs: true

sphero_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(4)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/sphero.jpg", class: "display"
  .info-intro
    %p  Allows user to interact with the Sphero robotic sphero using Gobot.
  .clear

%section.how-to#HowToConnect
  %h2 How To Connect
  %p
    That is pretty simple once the Sphero is ready (connected and listening), you just need three lines of code and you are set,
    Gobot and the Sphero driver take care of the rest.

    :markdown
      Install the library with: 
      `go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/sphero`

          :::go
          package main

          import (
            "github.com/hybridgroup/gobot"
            "github.com/hybridgroup/gobot/platforms/sphero"
            "time"
          )

          func main() {
            gbot := gobot.NewGobot()

            adaptor := sphero.NewSpheroAdaptor("Sphero", "/dev/rfcomm0")
            ball := sphero.NewSpheroDriver(adaptor, "sphero")
          ...


%section.how-to#HowToUse
  %h2 How To Use
  %p 
    This example rolls the sphero in a random direction and change direction every 2 seconds.

    :markdown
          :::go
          package main

          import (
            "github.com/hybridgroup/gobot"
            "github.com/hybridgroup/gobot/platforms/sphero"
            "time"
          )

          func main() {
            gbot := gobot.NewGobot()

            adaptor := sphero.NewSpheroAdaptor("Sphero", "/dev/rfcomm0")
            ball := sphero.NewSpheroDriver(adaptor, "sphero")

            work := func() {
              gobot.Every(3*time.Second, func() {
                ball.Roll(30, uint16(gobot.Rand(360)))
              })
            }

            gbot.Robots = append(gbot.Robots,
              gobot.NewRobot("sphero", []gobot.Connection{adaptor}, []gobot.Device{ball}, work))

            gbot.Start()
          }
                    

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/sphero/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/sphero/events"   


%section#SpheroColors
  %h2 Sphero Colors (R,G,B)
  
  %table.commands 
    %tr 
      %th Example
      %th Name
      %th Code
      %th Example
      %th Name
      %th Code
    %tr 
      %td
        .aliceblue.square
      %td.command 
        %span aliceblue
      %td (240, 248, 255)
      %td
        .antiquewhite.square
      %td.command 
        %span antiquewhite
      %td (250, 235, 215) 
    %tr 
      %td
        .square.aqua
      %td.command 
        %span aqua
      %td (0, 255, 255)
      %td
        .square.aquamarine 
      %td.command 
        %span aquamarine
      %td (127, 255, 212)
    %tr 
      %td
        .square.azure
      %td.command 
        %span azure
      %td (240, 255, 255)
      %td
        .square.beige
      %td.command 
        %span beige
      %td (245, 245, 220)
    %tr 
      %td
        .square.bisque
      %td.command 
        %span bisque
      %td (255, 228, 196)
      %td
        .square.black
      %td.command 
        %span black
      %td (0, 0, 0)
    %tr 
      %td
        .square.blanchedalmond
      %td.command 
        %span blanchedalmond
      %td (255, 235, 205)
      %td
        .square.blue
      %td.command 
        %span blue
      %td (0, 0, 255)
    %tr 
      %td
        .square.blueviolet
      %td.command 
        %span blueviolet
      %td (138, 43, 226)
      %td
        .square.brown
      %td.command 
        %span brown
      %td (165, 42, 42)
    %tr 
      %td
        .square.burlywood
      %td.command 
        %span burlywood
      %td (222, 184, 135)
      %td
        .square.cadetblue
      %td.command 
        %span cadetblue
      %td (95, 158, 160)
    %tr 
      %td
        .square.chartreuse
      %td.command 
        %span chartreuse
      %td (127, 255, 0)
      %td
        .square.chocolate
      %td.command 
        %span chocolate
      %td (210, 105, 30)
    %tr 
      %td
        .square.coral
      %td.command 
        %span coral
      %td (255, 127, 80)
      %td
        .square.cornflowerblue
      %td.command 
        %span cornflowerblue
      %td (100, 149, 237)
    %tr 
      %td
        .square.cornsilk
      %td.command 
        %span cornsilk
      %td (255, 248, 220)
      %td
        .square.crimson
      %td.command 
        %span crimson
      %td (220, 20, 60)
    %tr 
      %td
        .square.cyan
      %td.command 
        %span cyan
      %td (0, 255, 255)
      %td
        .square.darkblue
      %td.command 
        %span darkblue
      %td (0, 0, 139)
    %tr 
      %td
        .square.darkcyan
      %td.command 
        %span darkcyan
      %td (0, 139, 139)
      %td
        .square.darkgoldenrod
      %td.command 
        %span darkgoldenrod
      %td (184, 134, 11)
    %tr 
      %td
        .square.darkgray
      %td.command 
        %span darkgray
      %td (169, 169, 169)
      %td
        .square.darkgreen
      %td.command 
        %span darkgreen
      %td (0, 100, 0)
    %tr 
      %td
        .square.darkkhaki
      %td.command 
        %span darkkhaki
      %td (189, 183, 107)
      %td
        .square.darkmagenta
      %td.command 
        %span darkmagenta
      %td (139, 0, 139)
    %tr 
      %td
        .square.darkolivegreen
      %td.command 
        %span darkolivegreen
      %td (85, 107, 47)
      %td
        .square.darkorange
      %td.command 
        %span darkorange
      %td (255, 140, 0)
    %tr 
      %td
        .square.darkorchid
      %td.command 
        %span darkorchid
      %td (153, 50, 204)
      %td
        .square.darkred
      %td.command 
        %span darkred
      %td (139, 0, 0)
    %tr 
      %td
        .square.darksalmon
      %td.command 
        %span darksalmon
      %td (233, 150, 122)
      %td
        .square.darkseagreen
      %td.command 
        %span darkseagreen
      %td (143, 188, 143)
    %tr 
      %td
        .square.darkslateblue
      %td.command 
        %span darkslateblue
      %td (72, 61, 139)
      %td
        .square.darkslategray
      %td.command 
        %span darkslategray
      %td (47, 79, 79)
    %tr 
      %td
        .square.darkturquoise
      %td.command 
        %span darkturquoise
      %td (0, 206, 209)
      %td
        .square.darkviolet
      %td.command 
        %span darkviolet
      %td (148, 0, 211)
    %tr 
      %td
        .square.deeppink
      %td.command 
        %span deeppink
      %td (255, 20, 147)
      %td
        .square.deepskyblue
      %td.command 
        %span deepskyblue
      %td (0, 191, 255)
    %tr 
      %td
        .square.dimgray
      %td.command 
        %span dimgray
      %td (105, 105, 105)
      %td
        .square.dodgerblue
      %td.command 
        %span dodgerblue
      %td (30, 144, 255)
    %tr 
      %td
        .square.firebrick
      %td.command 
        %span firebrick
      %td (178, 34, 34)
      %td
        .square.floralwhite
      %td.command 
        %span floralwhite
      %td (255, 250, 240)
    %tr 
      %td
        .square.forestgreen
      %td.command 
        %span forestgreen
      %td (34, 139, 34)
      %td
        .square.fuchsia
      %td.command 
        %span fuchsia
      %td (255, 0, 255)
    %tr 
      %td
        .square.gainsboro
      %td.command 
        %span gainsboro
      %td (220, 220, 220)
      %td
        .square.ghostwhite
      %td.command 
        %span ghostwhite
      %td (248, 248, 255)
    %tr 
      %td
        .square.gold
      %td.command 
        %span gold
      %td (255, 215, 0)
      %td
        .square.goldenrod
      %td.command 
        %span goldenrod
      %td (218, 165, 32)
    %tr 
      %td
        .square.gray
      %td.command 
        %span gray
      %td (128, 128, 128)
      %td
        .square.green
      %td.command 
        %span green
      %td (0, 128, 0)
    %tr 
      %td
        .square.greenyellow
      %td.command 
        %span greenyellow
      %td (173, 255, 47)
      %td
        .square.honeydew
      %td.command 
        %span honeydew
      %td (240, 255, 240)
    %tr 
      %td
        .square.hotpink
      %td.command 
        %span hotpink
      %td (255, 105, 180)
      %td
        .square.indianred
      %td.command 
        %span indianred
      %td (205, 92, 92)
    %tr 
      %td
        .square.indigo
      %td.command 
        %span indigo
      %td (75, 0, 130)
      %td
        .square.ivory
      %td.command 
        %span ivory
      %td (255, 255, 240)
    %tr 
      %td
        .square.khaki
      %td.command 
        %span khaki
      %td (240, 230, 140)
      %td
        .square.lavender
      %td.command 
        %span lavender
      %td (230, 230, 250)
    %tr 
      %td
        .square.lavenderblush
      %td.command 
        %span lavenderblush
      %td (255, 240, 245)
      %td
        .square.lawngreen
      %td.command 
        %span lawngreen
      %td (124, 252, 0)
    %tr 
      %td
        .square.lemonchiffon
      %td.command 
        %span lemonchiffon
      %td (255, 250, 205)
      %td
        .square.lightblue
      %td.command 
        %span lightblue
      %td (173, 216, 230)
    %tr 
      %td
        .square.lightcoral
      %td.command 
        %span lightcoral
      %td (240, 128, 128)
      %td
        .square.lightcyan
      %td.command 
        %span lightcyan
      %td (224, 255, 255)
    %tr 
      %td
        .square.lightgoldenrodyellow
      %td.command 
        %span lightgoldenrodyellow
      %td (250, 250, 210)
      %td
        .square.lightgreen
      %td.command 
        %span lightgreen
      %td (144, 238, 144)
    %tr 
      %td
        .square.lightgrey
      %td.command 
        %span lightgrey
      %td (211, 211, 211)
      %td
        .square.lightpink
      %td.command 
        %span lightpink
      %td (255, 182, 193)
    %tr 
      %td
        .square.lightsalmon
      %td.command 
        %span lightsalmon
      %td (255, 160, 122)
      %td
        .square.lightseagreen
      %td.command 
        %span lightseagreen
      %td (32, 178, 170)
    %tr 
      %td
        .square.lightskyblue
      %td.command 
        %span lightskyblue
      %td (135, 206, 250)
      %td
        .square.lightslategray
      %td.command 
        %span lightslategray
      %td (119, 136, 153)
    %tr 
      %td
        .square.lightsteelblue
      %td.command 
        %span lightsteelblue
      %td (176, 196, 222)
      %td
        .square.lightyellow
      %td.command 
        %span lightyellow
      %td (255, 255, 224)
    %tr 
      %td
        .square.lime
      %td.command 
        %span lime
      %td (0, 255, 0)
      %td
        .square.limegreen
      %td.command 
        %span limegreen
      %td (50, 205, 50)
    %tr 
      %td
        .square.linen
      %td.command 
        %span linen
      %td (250, 240, 230)
      %td
        .square.magenta
      %td.command 
        %span magenta
      %td (255, 0, 255)
    %tr 
      %td
        .square.maroon
      %td.command 
        %span maroon
      %td (128, 0, 0)
      %td
        .square.mediumaquamarine
      %td.command 
        %span mediumaquamarine
      %td (102, 205, 170)
    %tr 
      %td
        .square.mediumblue
      %td.command 
        %span mediumblue
      %td (0, 0, 205)
      %td
        .square.mediumorchid
      %td.command 
        %span mediumorchid
      %td (186, 85, 211)
    %tr 
      %td
        .square.mediumpurple
      %td.command 
        %span mediumpurple
      %td (147, 112, 219)
      %td
        .square.mediumseagreen
      %td.command 
        %span mediumseagreen
      %td (60, 179, 113)
    %tr 
      %td
        .square.mediumslateblue
      %td.command 
        %span mediumslateblue
      %td (123, 104, 238)
      %td
        .square.mediumspringgreen
      %td.command 
        %span mediumspringgreen
      %td (0, 250, 154)
    %tr 
      %td
        .square.mediumturquoise
      %td.command 
        %span mediumturquoise
      %td (72, 209, 204)
      %td
        .square.mediumvioletred
      %td.command 
        %span mediumvioletred
      %td (199, 21, 133)
    %tr 
      %td
        .square.midnightblue
      %td.command 
        %span midnightblue
      %td (25, 25, 112)
      %td
        .square.mintcream
      %td.command 
        %span mintcream
      %td (245, 255, 250)
    %tr 
      %td
        .square.mistyrose
      %td.command 
        %span mistyrose
      %td (255, 228, 225)
      %td
        .square.moccasin
      %td.command 
        %span moccasin
      %td (255, 228, 181)
    %tr 
      %td
        .square.navajowhite
      %td.command 
        %span navajowhite
      %td (255, 222, 173)
      %td
        .square.navy
      %td.command 
        %span navy
      %td (0, 0, 128)
    %tr 
      %td
        .square.oldlace
      %td.command 
        %span oldlace
      %td (253, 245, 230)
      %td
        .square.olive
      %td.command 
        %span olive
      %td (128, 128, 0)
    %tr 
      %td
        .square.olivedrab
      %td.command 
        %span olivedrab
      %td (107, 142, 35)
      %td
        .square.orange
      %td.command 
        %span orange
      %td (255, 165, 0)
    %tr 
      %td
        .square.orangered
      %td.command 
        %span orangered
      %td (255, 69, 0)
      %td
        .square.orchid
      %td.command 
        %span orchid
      %td (218, 112, 214)
    %tr 
      %td
        .square.palegoldenrod
      %td.command 
        %span palegoldenrod
      %td (238, 232, 170)
      %td
        .square.palegreen
      %td.command 
        %span palegreen
      %td (152, 251, 152)
    %tr 
      %td
        .square.paleturquoise
      %td.command 
        %span paleturquoise
      %td (175, 238, 238)
      %td
        .square.palevioletred
      %td.command 
        %span palevioletred
      %td (219, 112, 147)
    %tr 
      %td
        .square.papayawhip
      %td.command 
        %span papayawhip
      %td (255, 239, 213)
      %td
        .square.peachpuff
      %td.command 
        %span peachpuff
      %td (255, 218, 185)
    %tr 
      %td
        .square.peru
      %td.command 
        %span peru
      %td (205, 133, 63)
      %td
        .square.pink
      %td.command 
        %span pink
      %td (255, 192, 203)
    %tr 
      %td
        .square.plum
      %td.command 
        %span plum
      %td (221, 160, 221)
      %td
        .square.powderblue
      %td.command 
        %span powderblue
      %td (176, 224, 230)
    %tr 
      %td
        .square.purple
      %td.command 
        %span purple
      %td (128, 0, 128)
      %td
        .square.red
      %td.command 
        %span red
      %td (255, 0, 0)
    %tr 
      %td
        .square.rosybrown
      %td.command 
        %span rosybrown
      %td (188, 143, 143)
      %td
        .square.royalblue
      %td.command 
        %span royalblue
      %td (65, 105, 225)
    %tr 
      %td
        .square.saddlebrown
      %td.command 
        %span saddlebrown
      %td (139, 69, 19)
      %td
        .square.salmon
      %td.command 
        %span salmon
      %td (250, 128, 114)
    %tr 
      %td
        .square.sandybrown
      %td.command 
        %span sandybrown
      %td (244, 164, 96)
      %td
        .square.seagreen
      %td.command 
        %span seagreen
      %td (46, 139, 87)
    %tr 
      %td
        .square.seashell
      %td.command 
        %span seashell
      %td (255, 245, 238)
      %td
        .square.sienna
      %td.command 
        %span sienna
      %td (160, 82, 45)
    %tr 
      %td
        .square.silver
      %td.command 
        %span silver
      %td (192, 192, 192)
      %td
        .square.skyblue
      %td.command 
        %span skyblue
      %td (135, 206, 235)
    %tr 
      %td
        .square.slateblue
      %td.command 
        %span slateblue
      %td (106, 90, 205)
      %td
        .square.slategray
      %td.command 
        %span slategray
      %td (112, 128, 144)
    %tr 
      %td
        .square.snow
      %td.command 
        %span snow
      %td (255, 250, 250)
      %td
        .square.springgreen
      %td.command 
        %span springgreen
      %td (0, 255, 127)
    %tr 
      %td
        .square.steelblue
      %td.command 
        %span steelblue
      %td (70, 130, 180)
      %td
        .square.tan
      %td.command 
        %span tan
      %td (210, 180, 140)
    %tr 
      %td
        .square.teal
      %td.command 
        %span teal
      %td (0, 128, 128)
      %td
        .square.thistle
      %td.command 
        %span thistle
      %td (216, 191, 216)
    %tr 
      %td
        .square.tomato
      %td.command 
        %span tomato
      %td (255, 99, 71)
      %td
        .square.turquoise
      %td.command 
        %span turquoise
      %td (64, 224, 208)
    %tr 
      %td
        .square.violet
      %td.command 
        %span violet
      %td (238, 130, 238)
      %td
        .square.wheat
      %td.command 
        %span wheat
      %td (245, 222, 179)
    %tr 
      %td
        .square.white
      %td.command 
        %span white
      %td (255, 255, 255)
      %td
        .square.whitesmoke
      %td.command 
        %span whitesmoke
      %td (245, 245, 245)
    %tr 
      %td
        .square.yellow
      %td.command 
        %span yellow
      %td (255, 255, 0)
      %td
        .square.yellowgreen
      %td.command 
        %span yellowgreen
      %td (154, 205, 50)


%section.compatability.hardware#Compatability
  %h2 Compatibility:
  =# TODO: Update platform list with all that work with this driver in gobot.
  .devices
    = partial "documentation/partials/devices_platforms"
