---
title: Gobot - Wii Classic Controller Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Wii Classic Controller
page_subtitle_docs: Driver
page_title_show: true
layout: documentation
active_menu_docs: true
subnavjs: true

arduino_platform: true
---
%section.intro
  =image_tag "/images/devices/wii-classic-controller.jpg", class: "display"
  .info-intro
    %p  Allows user to use a Nintendo Wii Classic Controller via i2c interface
  .clear
  
%section.how-to
  %h2 How to establish a connection and setup the driver
  %h3 For Arduino:
  :markdown
        :::go
        comming soon

  -#%h3 For Digispark:
  -#:markdown
        -#:::ruby

%section.public-methods
  %h2 Public driver events:
  %h3 a_button
  %p
    Get's triggered every interval amount of time if the a button is pressed.

  %h3 b_button
  %p
    Get's triggered every interval amount of time if the b button is pressed.

  %h3 x_button
  %p
    Get's triggered every interval amount of time if the x button is pressed.

  %h3 y_button
  %p
    Get's triggered every interval amount of time if the y button is pressed.

  %h3 home_button
  %p
    Get's triggered every interval amount of time if the home button is pressed.

  %h3 select_button
  %p
    Get's triggered every interval amount of time if the select button (-) is pressed.

  %h3 start_button
  %p
    Get's triggered every interval amount of time if the start button (+) is pressed.

  %h3 right_trigger
  %p
    Get's triggered every interval amount of time if the right trigger button is pressed, makes right trigger value available.

  %h3 left_trigger
  %p
    Get's triggered every interval amount of time if the left trigger button is pressed, makes left trigger value available.

  %h3 left_joystick
  %p
    Get's triggered every "interval" amount of time if a left joystick event occured, you can access values x, y.

  %h3 right_joystick
  %p
    Get's triggered every "interval" amount of time if a right joystick event occured, you can access values x, y.

  %h3 How to use events and call them on your drivers
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::ruby
        comming soon

%section.how-to
  %h2 How to use
  %h3 Example using a Nintendo Wii Classic Controller comming soon.
  :markdown
        :::ruby
        comming soon

%section.circuit
  %h2 Circuit and Schematic
  %p
    Coming soon...

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"

