---
title: Ardrone with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Ardrone
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-ardrone' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-ardrone/issues' target='blanck'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true


ardrone_flight_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");
    
%section.intro
  = image_tag "/images/devices/ardrone.jpg", class: "display"
  .info-intro
    %p The ARDrone from Parrot is an inexpensive quadcopter that is controlled using WiFi. It includes a built-in front-facing HD video camera, as well as a second lower resolution bottom facing video camera.

    %p
      For more info about the ARDrone platform click
      = succeed "." do
        = link_to "here", "http://ardrone2.parrot.com/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing Gobot with ardrone support is pretty easy.
  :markdown
        :::bash
        go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/ardrone

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program lets the ARDrone take-off, hover, and land.

  :markdown
        :::go
        package main

        import (
            "github.com/hybridgroup/gobot"
            "github.com/hybridgroup/gobot/platforms/ardrone"
            "time"
        )

        func main() {
            gbot := gobot.NewGobot()
            adaptor := ardrone.NewArdroneAdaptor("Drone")
            drone := ardrone.NewArdroneDriver(adaptor, "Drone")

            work := func() {
                drone.TakeOff()
                gobot.On(drone.Events["Flying"], func(data interface{}) {
                    gobot.After(3*time.Second, func() {
                        drone.Land()
                    })
                })
            }

            gbot.Robots = append(gbot.Robots,
                gobot.NewRobot("drone", []gobot.Connection{adaptor}, []gobot.Device{drone}, work))

            gbot.Start()
        }

%section.how-to#HowToConnect
  %h2 How To Connect
  %p The ARDrone is a WiFi device, so there is no additional work to establish a connection to a single drone. However, in order to connect to multiple drones, you need to perform some configuration steps on each drone via SSH.


%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the ARDrone platform are listed below..

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_ardrone_drivers"
