---
title: Crazyflie with gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Crazyflie
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-crazyflie' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-crazyflie/issues'>Issues</a>"
page_title_show: true
layout: documentation
active_menu_platforms: true
subnavjs: true

---

%section.intro
  = image_tag "/images/devices/crazyflie.jpg", class: "display"
  .info-intro
    %p
      You can use gobot with the Crazyflie micro-quadcopter.

    %p
      For more info about Crazyflie click
      = succeed "." do
        = link_to "here", "http://www.bitcraze.se/", target: :blank
  .clear
  
%section.how_to
  %h2 How to install
  %p
    Installing gobot with arduino support is pretty easy using ruby gems.
  :markdown
        :::bash
        gem install gobot-crazyflie

  %h2 How to use
  %p
    This small program causes the Crazyflie to 'hop' up in the air for 1 second.
  :markdown
        :::go
        require 'gobot'

        connection :crazyflie, :adaptor => :crazyflie
        device :drone, :driver => :crazyflie, :connection => :crazyflie, :interval => 0.1

        work do
          drone.forward(0)
          drone.set_thrust_on
          after(1.seconds) {drone.stop}
        end

  %h2 How to connect
  %p
    The Crazyflie uses a 2.4 GHz radio to communicate. There is a
    USB dongle called the Crazyradio that is required to control the Crazyflie quadcopter.
  %p
    If you are have a USB 3.0 port, you might run into this issue
    %br
    %a{ href: "http://stackoverflow.com/questions/17204253/crazyflie-usb-3-0-incompability"} http://stackoverflow.com/questions/17204253/crazyflie-usb-3-0-incompability

  %h2 How to hover
  %p
    To use Crazyflie with the hover command, requires installing the 
    %a{ href:"https://bitbucket.org/omwdunkley/crazyflie-firmware" } https://bitbucket.org/omwdunkley/crazyflie-firmware
    fork of the Crazyflie firmware. The easiest way to currently do this, is to 
    install the Crazyflie PC Client, download the 'hover' branch BIN file from here 
    %a{ href:"https://bitbucket.org/omwdunkley/crazyflie-firmware/downloads/cflie.bin" } https://bitbucket.org/omwdunkley/crazyflie-firmware/downloads/cflie.bin
    and then use the Crazyflie PC tools to update the Crazyflie firmware.

  %p
    Once you have updated the Crazyflie firmware, you will NEED to use the following syntax in your gobot code to use it:

  :markdown
        :::ruby
        connection :crazyflie, :adaptor => :crazyflie, :supports_hover => true

  %p
    If you do not add :supports_hover => true to your connection code to the Crazyflie, it will go crazy out of control as you as you try to connect to it. You have been warned... 

%section.drivers
  %h2 Drivers
  %p
    There is currently only one driver for the Crazyflie, as listed below.

  .hardware
    .devices
      = partial "documentation/partials/devices_crazyflie_drivers"
