---
title: Platforms - Gobot - Golang framework for robotics, physical computing, and the Internet of Things
author: The Hybrid Group
description: Gobot Platforms
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_show: true
layout: documentation
active_menu_platforms: true

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
leapmotion_platform: true
spark_platform: true
sphero_platform: true
ardrone_platform: true
joystick_platform: true
opencv_platform: true
neurosky_platform: true
pebble_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

= partial "../platforms"
