---
title: Joysticks with Gobot
author: The Hybrid Group
page_title: Joysticks
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-joystick' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-joystick/issues'>Issues</a>"
page_title_show: true
layout: documentation
subnav_platform: true

ps3_driver: true
xbox360_driver: true
---
%section.intro
  = image_tag "/images/devices/joystick.jpg", class: "display"
  .info-intro
    %p
      You can use Gobot with a PS3 game controller, an XBox360 game controller, or any other USB joystick or game controller that is compatible with Simple DirectMedia Layer (SDL).

    %p
      For more info about Simple DirectMedia Layer (SDL) go to
      = succeed "." do
        = link_to "http://www.libsdl.org/", "http://www.libsdl.org/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How to install
  %p
    Installing Gobot support is pretty easy using ruby gems.
  :markdown
        :::bash
        go get path/to/repo/gobot-joystick

%section.how-to#HowToUse
  %h2 How to use
  %p This small program receives joystick and button press events from an XBox 360 game controller.

  :markdown
        :::bash
        package main

        import (
          "fmt"
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot-joystick"
        )

        func main() {
          joystickAdaptor := new(gobotJoystick.JoystickAdaptor)
          joystickAdaptor.Name = "xbox360"
          joystickAdaptor.Params = map[string]interface{}{
            "config": "./configs/xbox360_power_a_mini_proex.json",
          }

          joystick := gobotJoystick.NewJoystick(joystickAdaptor)
          joystick.Name = "xbox360"

          work := func() {
            gobot.On(joystick.Events["a"], func(data interface{}) {
              fmt.Println("a", data)
            })
            gobot.On(joystick.Events["b"], func(data interface{}) {
              fmt.Println("b", data)
            })
            gobot.On(joystick.Events["up"], func(data interface{}) {
              fmt.Println("up", data)
            })
            gobot.On(joystick.Events["down"], func(data interface{}) {
              fmt.Println("down", data)
            })
            gobot.On(joystick.Events["left"], func(data interface{}) {
              fmt.Println("left", data)
            })
            gobot.On(joystick.Events["right"], func(data interface{}) {
              fmt.Println("right", data)
            })
            gobot.On(joystick.Events["left_x"], func(data interface{}) {
              fmt.Println("left_x", data)
            })
            gobot.On(joystick.Events["left_y"], func(data interface{}) {
              fmt.Println("left_y", data)
            })
            gobot.On(joystick.Events["right_x"], func(data interface{}) {
              fmt.Println("right_x", data)
            })
            gobot.On(joystick.Events["right_y"], func(data interface{}) {
              fmt.Println("right_y", data)
            })
          }

          robot := gobot.Robot{
            Connections: []gobot.Connection{joystickAdaptor},
            Devices:     []gobot.Device{joystick},
            Work:        work,
          }

          robot.Start()
        }
        end
        
%section.how-to#HowToConnect
  %h2 How to connect
  %p Plug your USB joystick or game controller into your USB port. If your device is supported by SDL, you are now ready.

%section.drivers#Drivers
  %h2 Drivers
  %p
    There are 2 driver for different joysticks, as listed below:

  .hardware
    .devices
      = partial "documentation/partials/devices_joystick_drivers"
