---
title: Neurosky with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Neurosky
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-neurosky' target='_blank' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-neurosky/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

neurosky_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(7)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"
  .info-intro
    %p NeuroSky delivers fully integrated, single chip EEG biosensors. NeuroSky enables its partners and developers to bring their brainwave application ideas to market with the shortest amount of time, and lowest end consumer price.

    %p 
      This package contains the Gobot adaptor and driver for the 
      = link_to "Neurosky Mindwave Mobile EEG.", "http://store.neurosky.com/products/mindwave-mobile", tagert: :blank

  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing Gobot with Neurosky support is pretty easy.
  :markdown
        :::bash
        go get github.com/hybridgroup/gobot && go install github.com/hybridgroup/platforms/neurosky

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program let you connect the Neurosky an load data.
    
  :markdown
        :::go
        package main

        import (
          "fmt"
          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/platforms/neurosky"
        )

        func main() {
          gbot := gobot.NewGobot()

          adaptor := neurosky.NewNeuroskyAdaptor("neurosky", "/dev/rfcomm0")
          neuro := neurosky.NewNeuroskyDriver(adaptor, "neuro")

          work := func() {
            gobot.On(neuro.Events["Extended"], func(data interface{}) {
              fmt.Println("Extended", data)
            })
            gobot.On(neuro.Events["Signal"], func(data interface{}) {
              fmt.Println("Signal", data)
            })
            gobot.On(neuro.Events["Attention"], func(data interface{}) {
              fmt.Println("Attention", data)
            })
            gobot.On(neuro.Events["Meditation"], func(data interface{}) {
              fmt.Println("Meditation", data)
            })
            gobot.On(neuro.Events["Blink"], func(data interface{}) {
              fmt.Println("Blink", data)
            })
            gobot.On(neuro.Events["Wave"], func(data interface{}) {
              fmt.Println("Wave", data)
            })
            gobot.On(neuro.Events["EEG"], func(data interface{}) {
              eeg := data.(gobotNeurosky.EEG)kj
              fmt.Println("Delta", eeg.Delta)
              fmt.Println("Theta", eeg.Theta)
              fmt.Println("LoAlpha", eeg.LoAlpha)
              fmt.Println("HiAlpha", eeg.HiAlpha)
              fmt.Println("LoBeta", eeg.LoBeta)
              fmt.Println("HiBeta", eeg.HiBeta)
              fmt.Println("LoGamma", eeg.LoGamma)
              fmt.Println("MidGamma", eeg.MidGamma)
              fmt.Println("\n")
            })
          }

          gbot.Robots = append(gbot.Robots,
            gobot.NewRobot("brainBot", []gobot.Connection{adaptor}, []gobot.Device{neuro}, work))

          gbot.Start()
        }
  

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 OSX

  %p In order to allow Gobot running on your Mac to access the Mindwave, go to "Bluetooth > Open Bluetooth Preferences > Sharing Setup" and make sure that "Bluetooth Sharing" is checked.
  
  :markdown
    Now you must pair with the Mindwave. Open System Preferences > Bluetooth. Now with the Bluetooth devices windows open, hold the On/Pair button on the Mindwave towards the On/Pair text until you see "Mindwave" pop up as available devices. Pair with that device. Once paired your Mindwave will be accessable through the serial device similarly named as `/dev/tty.MindWaveMobile-DevA`

  %h3 Ubuntu
  %p Connecting to the Mindwave from Ubuntu or any other Linux-based OS can be done entirely from the command line using Gort CLI commands. Here are the steps.
  %p Find the address of the Mindwave, by using:
  :markdown
        :::bash
        gort scan bluetooth

    Pair to Mindwave using this command (substituting the actual address of your Mindwave):

        :::bash
        gort bluetooth pair <address>

    Connect to the Mindwave using this command (substituting the actual address of your Mindwave):

        :::bash
        gort bluetooth connect <address>  

  %h3  Windows

  :markdown
    You should be able to pair your Mindwave using your normal system tray applet for Bluetooth, and then connect to the COM port that is bound to the device, such as `COM3`.


%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the Neurosky Mindwave platform are listed below. 

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_neurosky_drivers"
