---
title: Roomba with Cylon.js
author: The Hybrid Group
page_title: Roomba
page_subtitle: "<a href='https://github.com/hybridgroup/Cylon.js-roomba' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/Cylon.js-roomba/issues'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/roomba.jpg", class: "display"

    %p
      The Roomba is a simple robot that usually cleans floors.

    %p
      For more info about the Roomba platform click
      = succeed "." do
        = link_to "here", "http://www.irobot.com/us/learn/Educators/Create.aspx", target: :blank

  %section.how-to
    %h2 How to install
    %p
      Installing Cylon.js with roomba support is pretty easy using ruby gems.
    :markdown
          :::bash
          gem install Cylon.js-roomba
    %h2 How to use
    %p
      This small program controls a Roomba.
    :markdown
          :::ruby
          require 'Cylon.js'

          connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
          device :roomba, :driver => :roomba, :connection => :roomba

          work do
            roomba.safe_mode
            roomba.nudge_left
            roomba.nudge_right
            roomba.nudge_right
            roomba.nudge_left
          end

  %section.drivers
    %h2 Drivers
    %p
      There is only one driver for the Roomba platform, as listed below.

    .hardware
      .devices
        = partial "documentation/partials/roomba-driver"
