---
title: Roomba with gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Roomba
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-roomba' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-roomba/issues'>Issues</a>"
page_title_show: true
layout: documentation
active_menu_platforms: true
subnavjs: true

---
%section.intro
  = image_tag "/images/devices/roomba.jpg", class: "display"
  .info-intro
    %p
      The Roomba is a simple robot that usually cleans floors.

    %p
      For more info about the Roomba platform click
      = succeed "." do
        = link_to "here", "http://www.irobot.com/us/learn/Educators/Create.aspx", target: :blank
  .clear
  
%section.how-to
  %h2 How to install
  %p
    Installing gobot with roomba support is pretty easy using ruby gems.
  :markdown
        :::bash
        gem install gobot-roomba
  %h2 How to use
  %p
    This small program controls a Roomba.
  :markdown
        :::ruby
        require 'gobot'

        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba

        work do
          roomba.safe_mode
          roomba.nudge_left
          roomba.nudge_right
          roomba.nudge_right
          roomba.nudge_left
        end

%section.drivers
  %h2 Drivers
  %p
    There is only one driver for the Roomba platform, as listed below.

  .hardware
    .devices
      = partial "documentation/partials/devices_roomba_drivers"
