---
title: Sphero with Cylon.js
author: The Hybrid Group
page_title: Sphero
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-sphero/issues' target='blanck' >Issues</a>"
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/sphero.jpg", class: "display"

    %h3 What is Sphero?
    %p
      Sphero is a sophisticated and programmable robot housed in a polycarbonate sphere shell.
    %p
      The cylon-sphero adaptor makes it easy to interact with Sphero using Node.js, once you have your Sphero setup and connected to your computer
      you can start writing code to make Sphero move, change direction, speed and colors, or detect Sphero events and execute some
      code when they occur.

    %h3 Where can I get a Sphero or find more info about it?
    %p
      You can do it by following this link
      = link_to "GoSphero.", "http://www.gosphero.com/"
    

  %section.how-to
    %h2 How to install
    %p
      Installing cylon.js with sphero support is pretty easy.
    :markdown
          :::bash
          npm install cylon-sphero

    %h2 How to use
    %p Example of a simple program that makes the Sphero roll.

    %h3 Javascript
    :markdown
          :::javascript
          var Cylon = require('cylon');

          Cylon.robot({
            connection: { name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0' },
            device: {name: 'sphero', driver: 'sphero'},

            work: function(my) {
              every((1).second(), function() { 
                my.sphero.roll(60, Math.floor(Math.random() * 360));
              });
            }
          }).start();

    %h3 CoffeeScript
    :markdown
          :::javascript
          Cylon = require('cylon')

          Cylon.robot
            connection:
              name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0'

            device:
              name: 'sphero', driver: 'sphero'

            work: (my) ->
              every 1.second(), ->
                my.sphero.roll 60, Math.floor(Math.random() * 360)

          .start()

    %h2 How to connect
    %h3 OSX

    %p In order to allow Cylon.js running on your Mac to access the Sphero, go to "Bluetooth > Open Bluetooth Preferences > Sharing Setup" and make sure that "Bluetooth Sharing" is checked.

    %p Thank you to [@kopipejst](https://github.com/kopipejst) for the above connnection info.

    %h3 Ubuntu

    %p Coming soon.

  %section.drivers
    %h2 Drivers
    %p
      There is only one driver for the Sphero.

    .hardware
      .devices
        = partial "documentation/partials/sphero-driver"
