:markdown
  # Commands

  ## ReadC

  Returns an integer value that represents the digital read from the sensor.

  ##### Params

  `no params`

  ##### Returns

  integer

  ## WriteC

  Text here

  ##### Params

  `no params`

  ##### Returns

  nil