:markdown
  # Commands

  ## OnC

  Turns LED on.

  ##### Params

  `no params`

  ##### Returns

  nil

  ## OffC

  Turns LED off.

  ##### Params

  `no params`

  ##### Returns

  nil

  ## ToggleC

  Turns the LED on, or off, depending on if it is already off, or on, respectively.

  ##### Params

  `no params`

  ##### Returns

  nil

  ## BrightnessC(level byte)

  Sets brightness of the led to the specified brightness value passed to brightness(level byte).

  ##### Params

  - **level** - params
  - **byte** - params

  ##### Returns

  integer