:markdown
  # Functions

  ## Move(angle uint8)

  Moves the servo to the specified angle, angle must be an integer value between 0 and 180.

  #### Params

  - **angle** - **uint8**

  #### Returns

  - **angle** - angle value

  #### API Command

  **MoveC**

  ## Min

  Moves the servo to 0.

  #### API Command

  **MinC**

  ## Center

  Moves the servo to 90

  #### API Command

  **CenterC**

  ## Max

  Moves the servo to 180

  #### API Command

  **MaxC**

