:markdown
  # Commands

  ## DigitalReadC

  Returns an integer value that represents the digital read from the pin.

  ##### Params

  `no params`

  ##### Returns

  integer

  ## DigitalWriteC

  Writes a ON/OFF using digital write to a pin

  ##### Params

  `value`

  ##### Returns

  nil

  ## AnalogReadC

  Returns an integer value that represents the analog read from the pin.

  ##### Params

  `no params`

  ##### Returns

  integer

  ## AnalogWriteC

  Writes a value using analog write to a pin

  ##### Params

  `value`

  ##### Returns

  nil

  ## PwmWriteC

  Writes a value using Pulse Width Modulation (PWM) to a pin

  ##### Params

  `value`

  ##### Returns

  nil

  ## ServoWriteC

  Writes a value using servo write to a pin

  ##### Params

  `value`

  ##### Returns

  nil