:markdown
  # Functions

  ## Toggle

  Turns the LED on, or off, depending on if it is already off, or on, respectively.

  #### API Command

  **ToggleC**

  ## On

  Turns LED on.

  #### API Command

  **OnC**

  ## Off

  Turns LED off.

  #### API Command

  **OffC**

  ## Brightness(level byte)

  Sets brightness of the led to the specified brightness value passed to brightness(level byte).

  #### Params

  - **level** - **byte**

  #### Returns

  - **level** - brightness value

  #### API Command

  **BrightnessC**