:markdown
  # Events 

  ## push

  This event gets triggered when the button changes state from released to pushed.

  ## release

  This event gets triggered when the button changes state from pushed to released.