%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{:content => current_page.data.description, :name => "description"}
%meta{:content => current_page.data.author, :name => "author"}
%title= current_page.data.title
%link{href: "/stylesheets/style.css", rel: "stylesheet"}
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
%script{:src => "/javascripts/script.js"}
%script{:src => "/hybridpages/assets/javascript/accordeon.js"}
- if current_page.data.subnavjs == true
	%script{:src => "/hybridpages/assets/javascript/subnav.js"}

