---
layout: documentation
page_title_show: true
title: "Gobot Example - servo"
page_title: "Example: servo"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-digispark/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>servo</a></li>"

---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-digispark"
        	"github.com/hybridgroup/gobot-gpio"
        )

        func main() {

        	digispark := new(gobotDigispark.DigisparkAdaptor)
        	digispark.Name = "digispark"

        	servo := gobotGPIO.NewServo(digispark)
        	servo.Name = "servo"
        	servo.Pin = "0"

        	work := func() {
        		gobot.Every("1s", func() {
        			i := uint8(gobot.Rand(180))
        			fmt.Println("Turning", i)
        			servo.Move(i)
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{digispark},
        		Devices:     []gobot.Device{servo},
        		Work:        work,
        	}

        	robot.Start()
        }

