---
layout: documentation
page_title_show: true
title: "Gobot Example - leap"
page_title: "Example: leap"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-leapmotion/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");
    
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-leapmotion"
        )

        func main() {
        	leapAdaptor := new(gobotLeap.LeapAdaptor)
        	leapAdaptor.Name = "leap"
        	leapAdaptor.Port = "127.0.0.1:6437"

        	leap := gobotLeap.NewLeap(leapAdaptor)
        	leap.Name = "leap"

        	work := func() {
        		gobot.On(leap.Events["Message"], func(data interface{}) {
        			fmt.Println(data)
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{leapAdaptor},
        		Devices:     []gobot.Device{leap},
        		Work:        work,
        	}

        	robot.Start()
        }

