.app-footer {

  @include title-font(12px, $footer-text-color);
  line-height: 39px;
  background: $hero-color;
  font-weight: normal;

  a {
  
    @extend .hero-anchors;
  }
}

.copyright {
	
	clear: both;
	
	.left-side {

		float: left;
	}	

	.right-side {

		float: right;
		text-align: right;

		a {

			color: $footer-text-color;
			&:hover {

				color: darken($footer-text-color,5);
			}
		}
	}
}
