.app-logo {

  width: $logo-size + 50;

  a {

    display: block;
    width: 100%;
    color: $blog-title-color;
  }
}

.hidden-text {

  background: url($header-logo-src) left top no-repeat;
  text-indent: -99999px;
  height: 27px;
}

.app-header {

  @include outer-container;
  margin: 9px 0 15px 0;

  .display, .subtitle, .menu, h1 {

    vertical-align: middle;
    margin: 0;
    display: inline-block;
  }

  .display {

    @include span-columns(5);
    margin: -1px 0 0 0;
  }

  .subtitle {

    @include title-font(20px, $header-subtitle-color);
    padding: 8px 0 0 15px;
    width: 190px;
  }

  .easter {

    display: none;
  }

  .heart {

    color: red;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
    width: 38px;
    text-align: center;
  }

  .menu {

    @include span-columns(7);
    text-align: right;
    display: inline-block;
    margin: 13px 0 0 0;

    .active {

      color: $blog-title-color; 
      font-size: 15px;
      font-weight: bold;
      margin: 10px;
      padding: 8px 4px;
    }

    .item {

      font-size: 15px;
      font-weight: bold;
      margin: 10px;
      padding: 8px 4px;

      &, &:visited, &:active {

        color: $header-subtitle-color;
      }

      &:hover, &:focus {

        color: $blog-title-color;
      }
    }

    @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

      @include span-columns(6);
      padding: 0;

      .item {

        margin: 0;
        padding: 0 5px;
      }
    }
  }

  @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

    .display {

      @include span-columns(6);
    }
  }

  @media only screen and (max-width: $medium-screen) {

    .subtitle, .menu {

      width: auto;
      display: block;
    }

    .display,.app-logo {

      display: inline-block;
    }

    .app-logo, .subtitle, .menu {

      margin: 0 0 5px 0;
    }

    .display {

      @include span-columns(12);
      text-align: center;
      margin: -1px 0 0;
    }

    .app-logo a {

      background-position: center center;
    }

    .subtitle {

      font-size: 19px;
      line-height: 15px;
      padding: 0;
    }

    .menu {

      margin: 5px 0 0 0;
      text-align: center;
      @include span-columns(12);

      .item {
      
        margin: 0;
        padding: 0 2px;
      }
    }
  }
}
