-if current_page.data.crazyflie_flight == true
  /// Crazyflie Flight
  %a.device{href:"/documentation/drivers/crazyflie", title: "Crazyflie Flight Control"}
    %img{src: "/images/devices/crazyflie-driver.jpg"} 

-if current_page.data.crazyflie_nav == true
  /// Crazyflie Navigation
  %a.device{href:"/documentation/drivers/crazyflie-nav", title: "Crazyflie Navigation Control"}
    %img{src: "/images/devices/crazyflie-nav.jpg"}