-if current_page.data.blinkm_driver == true
  /// Blinkm
  %a.device{href: "/documentation/drivers/blinkm", title: "Blinkm"}
    %img{src: "/images/devices/blinkm.jpg"}    

-if current_page.data.hmc6352_compass_driver == true
  /// Hmc6352 Compass
  %a.device{href: "/documentation/drivers/hmc6352-compass", title: "Wii Nunchuck"}
    %img{src: "/images/devices/hmc6352-compass.jpg"}

-if current_page.data.wiichuck_driver == true
  /// Wiichuck
  %a.device{href: "/documentation/drivers/wiichuck", title: "Wii Nunchuck"}
    %img{src: "/images/devices/wii-chuck.jpg"}   

-if current_page.data.wiiclassic_driver == true
  /// Wii Classic
  %a.device{href: "/documentation/drivers/wiiclassic", title: "Wii Classic Controller"}
    %img{src: "/images/devices/wii-classic-controller.jpg"}