-if current_page.data.analog_sensor_driver == true
  /// Analog Sensor
  %a.device{href:"/documentation/drivers/analog-sensor", title: "Analog Sensor"}
    %img{src: "/images/devices/analog-sensor.jpg"}

-if current_page.data.button_driver == true
  /// Button
  %a.device{href:"/documentation/drivers/button", title: "Button"}
    %img{src: "/images/devices/button.jpg"}

-if current_page.data.direct_pin_driver == true
  /// direct-pin
  %a.device{href:"/documentation/drivers/direct-pin", title: "Direct Pin"}
    %img{src: "/images/devices/direct-pin.jpg"}

-if current_page.data.led_driver == true
  /// LED
  %a.device{href: "/documentation/drivers/led", title: "LED"}
    %img{src: "/images/devices/LED.jpg"}

-if current_page.data.makey_driver == true
  /// Makey Button
  %a.device{href:"/documentation/drivers/makey", title: "Makey Button"}
    %img{src: "/images/devices/makey.jpg"}

-if current_page.data.maxbotix_driver == true
  /// Maxbotix
  %a.device{href: "/documentation/drivers/maxbotix", title: "Maxbotix Range Finder"}
    %img{src: "/images/devices/maxbotix.jpg"}

-if current_page.data.motor_driver == true
  /// Motor
  %a.device{href: "/documentation/drivers/motor", title: "Motor"}
    %img{src: "/images/devices/motor.jpg"}

-if current_page.data.servo_driver == true
  /// Servo
  %a.device{href: "/documentation/drivers/servo", title: "Servo"}
    %img{src: "/images/devices/servo.jpg"}