- if current_page.data.ardrone_platform == true
  ///Ardrone
  %a.device{href:"/documentation/platforms/ardrone", title: "AR Drone"}
    %img{src: "/images/devices/ardrone.jpg"}

- if current_page.data.arduino_platform == true
  /// Arduino
  %a.device{href:"/documentation/platforms/arduino", title: "Arduino"}
    %img{src: "/images/devices/arduino.jpg"}

- if current_page.data.beaglebone_platform == true
  /// Beaglebone
  %a.device{href:"/documentation/platforms/beaglebone", title: "BeagleBone"}
    %img{src: "/images/devices/beaglebone.jpg"}  

- if current_page.data.crazyflie_platform == true
  /// Crazylie
  %a.device{href:"/documentation/platforms/crazyflie", title: "Crazyflie"}
    %img{src: "/images/devices/crazyflie.jpg"}  

- if current_page.data.digispark_platform == true
  /// Analog Sensor
  %a.device{href:"/documentation/platforms/digispark", title: "Digispark"}
    %img{src: "/images/devices/digispark.jpg"}

- if current_page.data.joystick_platform == true
  /// Joystick
  %a.device{href:"/documentation/platforms/joystick", title: "Joystick"}
    %img{src: "/images/devices/joystick.jpg"}

- if current_page.data.leapmotion_platform == true
  /// Leap Motion
  %a.device{href:"/documentation/platforms/leapmotion", title: "Leap Motion"}
    %img{src: "/images/devices/leap_motion.jpg"}

- if current_page.data.neurosky_platform == true
  /// Neurosky
  %a.device{href:"/documentation/platforms/neurosky", title: "Neurosky"}
    %img{src: "/images/devices/neurosky.jpg"}

- if current_page.data.opencv_platform == true
  /// Open CV
  %a.device{href:"/documentation/platforms/opencv", title: "OpenCV"}
    %img{src: "/images/devices/opencv.jpg"}

- if current_page.data.pebble_platform == true
  /// Pebble
  %a.device{href:"/documentation/platforms/pebble", title: "Pebble"}
    %img{src: "/images/devices/pebble.jpg"}

- if current_page.data.raspberry_platform == true
  /// Raspberry Pi
  %a.device{href:"/documentation/platforms/raspberry-pi", title: "Raspberry Pi"}
    %img{src: "/images/devices/raspi.jpg"}

- if current_page.data.roomba_platform == true
  /// Roomba
  %a.device{href:"/documentation/platforms/roomba", title: "Roomba"}
    %img{src: "/images/devices/roomba.jpg"}

- if current_page.data.spark_platform == true
  /// Spark
  %a.device{href:"/documentation/platforms/spark", title: "Spark"}
    %img{src: "/images/devices/spark.jpg"}

- if current_page.data.sphero_platform == true
  /// Sphero
  %a.device{href:"/documentation/platforms/sphero", title: "Sphero"}
    %img{src: "/images/devices/sphero.jpg"}

