---
page_title_show: true
title: Helpers
author: The Hybrid Group
description: Cylon.js Helpers
page_title: Helpers
page_subtitle: Some helpful utility functions
layout: documentation
---

:markdown

  ## Every(var)

  description

  - **var** - text


  Returns a 

  ### Examples:

      :::bash
      ...

  ## After(var)

  description

  - **var** - text


  Returns a 

  ### Examples:

      :::bash
      ...

  ## Publish(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## On(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## Rand(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## ConnectToTcp(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...
  
  ## ConnectToSerial(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...
  
  ## IsUrl(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## Call(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## FieldByName(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## FieldByNamePtr(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## FromScale(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...

  ## ToScale(var)

  description

  - **var** - text

  Returns a 

  ### Examples:

      :::bash
      ...