.repository {
  margin-right: 10px;
}

.documentation {
  @include span-columns(12);
  .index {
    padding: 0 0 0 8px;
    li {
      margin: 8px 0;
    }
  }
  .link {
    font-size: 20px;
  }
  .description {
    color: $doc-description-color;
    font-size: 14px;
    line-height: 21px;
    margin: 10px;
  }
  .display {
    width: 300px;
    float: right;
    border: 1px solid rgba($hero-color, 0.14);
    margin: 0 0 19px 20px;
  }
}

.clear {
  clear: both;
}

.image-size-300 {
  width: 200px;
}

.methods {
  dt {
    font-weight: bold;
    background: white;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 17px;
    border: aliceblue;
  }
  dd {
    margin-bottom: 29px;
    padding-left: 10px;
  }
  li {
    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
}

.colors {
  @include span-columns(3);
  @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {
    @include span-columns(3);
    p {
      font-size: 10px
    }
  }
  
  @media only screen and (max-width: $medium-screen) {
    @include span-columns(12);
  }
    
  dt {
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 15px;
    border: aliceblue;
    margin-top: 15px;
  }
  dd {
    margin-bottom: 20px;
    display: block;
    p {
      margin: 0;
      line-height: 50px;
    }
  }
}
