---
layout: documentation
page_title_show: true
title: "Gobot Example - hello"
page_title: "Example: hello"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>hello</a></li>"

---
= partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        )

        func main() {
        	robot := gobot.Robot{
        		Work: func() {
        			gobot.Every("0.5s", func() { fmt.Println("Greetings human") })
        		},
        	}

        	robot.Start()
        }

