---
layout: documentation
page_title_show: true
title: "Gobot Example - hello_api"
page_title: "Example: hello_api"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>hello_api</a></li>"

---
= partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        )

        func Hello(params map[string]interface{}) string {
        	name := params["name"].(string)
        	return fmt.Sprintf("hi %v", name)
        }

        func main() {
        	master := gobot.GobotMaster()
        	api := gobot.Api(master)
        	api.Port = "4000"

        	hello := new(gobot.Robot)
        	hello.Name = "hello"
        	hello.Commands = map[string]interface{}{"Hello": Hello}

        	master.Robots = append(master.Robots, hello)

        	master.Start()
        }

