---
layout: documentation
page_title_show: true
title: "Gobot Example - hello_api_auth"
page_title: "Example: hello_api_auth"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");
    
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        )

        func Hello(params map[string]interface{}) string {
        	name := params["name"].(string)
        	return fmt.Sprintf("hi %v", name)
        }

        func main() {
        	master := gobot.GobotMaster()
        	api := gobot.Api(master)
        	api.Username = "gort"
        	api.Password = "klatuu"

        	hello := new(gobot.Robot)
        	hello.Name = "hello"
        	hello.Commands = map[string]interface{}{"Hello": Hello}

        	master.Robots = append(master.Robots, hello)

        	master.Start()
        }

