---
layout: documentation
page_title_show: true
title: "Gobot Example - sphero"
page_title: "Example: sphero"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>sphero</a></li>"

---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::go
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-sphero"
        )

        func main() {

        	spheroAdaptor := new(gobotSphero.SpheroAdaptor)
        	spheroAdaptor.Name = "Sphero"
        	spheroAdaptor.Port = "/dev/rfcomm0"

        	sphero := gobotSphero.NewSphero(spheroAdaptor)
        	sphero.Name = "Sphero"

        	work := func() {
        		gobot.Every("2s", func() {
        			sphero.Roll(100, uint16(gobot.Rand(360)))
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{spheroAdaptor},
        		Devices:     []gobot.Device{sphero},
        		Work:        work,
        	}

        	robot.Start()
        }

