---
layout: documentation
page_title_show: true
title: "Gobot Example - sphero_master"
page_title: "Example: sphero_master"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");
    
.example
  :markdown
        :::go
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-sphero"
        )

        func main() {
        	master := gobot.GobotMaster()

        	spheros := map[string]string{
        		"Sphero-BPO": "/dev/rfcomm0",
        	}

        	for name, port := range spheros {
        		spheroAdaptor := new(gobotSphero.SpheroAdaptor)
        		spheroAdaptor.Name = "sphero"
        		spheroAdaptor.Port = port

        		sphero := gobotSphero.NewSphero(spheroAdaptor)
        		sphero.Name = "sphero"
        		sphero.Interval = "0.5s"

        		work := func() {
        			sphero.SetRGB(uint8(255), uint8(0), uint8(0))
        		}

        		master.Robots = append(master.Robots, &gobot.Robot{
        			Name:        name,
        			Connections: []gobot.Connection{spheroAdaptor},
        			Devices:     []gobot.Device{sphero},
        			Work:        work,
        		})
        	}

        	master.Robots = append(master.Robots, &gobot.Robot{
        		Work: func() {
        			sphero := master.FindRobot("Sphero-BPO")
        			gobot.Every("1s", func() {
        				gobot.Call(sphero.GetDevice("sphero").Driver, "SetRGB", uint8(gobot.Rand(255)), uint8(gobot.Rand(255)), uint8(gobot.Rand(255)))
        			})
        		},
        	})

        	master.Start()
        }

