%h2 What is Cylon.js?
%p
  Cylon.js is a JavaScript framework for robotics and physical computing using node.js.

%p
  It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.

%p
  Want to use Ruby on robots? Check out our sister project Artoo 
  = link_to "(http://artoo.io)", "http://artoo.io", target: "_blank" 