%h2 What is Gobot?
%p Gobot is a set of Go libraries for robotics and physical computing.
%p It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.


%p
  Want to use Node.js on robots? Check out our sister project CylonJS
  = link_to "(http://cylonjs.com)", "http://cylonjs.com", target: "_blank" 

%p
  Want to use Ruby on robots? Check out our sister project Artoo 
  = link_to "(http://artoo.io)", "http://artoo.io", target: "_blank" 