---
title: Documentation - Gobot - Golang framework for robotics, physical computing, and the Internet of Things
page_title: Documentation
page_subtitle: Made by Humans, for Humans.

page_title_show: true
layout: documentation
active_menu_docs: true

---

.index
  %section
    %a{href: '/documentation/getting-started'}
      .title Getting Started
      .description The best way to get started with Gobot.
  %section
    %a{:href => "/documentation/platforms"} 
      .title Platforms
      .description Multiple hardware platforms.
  %section 
    %a{:href => "/documentation/drivers"} 
      .title Drivers
      .description Gobot supports many different hardware devices.
  %section
    %a{href: '/documentation/guides/what_is_gobot'}
      .title Guides
      .description Visit the Guides for more information about Gobot and it's amazing features.
  %section
    %a{:href => "/documentation/examples"} 
      .title Examples
      .description Examples of how to use Gobot with a number of hardware configurations.
  %section
    %a{:href => 'https://github.com/hybridgroup/gobot/issues'} 
      .title Issues?
      .description Please let us know if you find an error or if you can't find what you are looking for.