---
layout: documentation
page_title_show: true
title: "Gobot Example - led_brightness_with_analog_input"
page_title: "Example: led_brightness_with_analog_input"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-firmata/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");
    
.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-firmata"
        	"github.com/hybridgroup/gobot-gpio"
        )

        func main() {
        	firmata := new(gobotFirmata.FirmataAdaptor)
        	firmata.Name = "firmata"
        	firmata.Port = "/dev/ttyACM0"

        	sensor := gobotGPIO.NewAnalogSensor(firmata)
        	sensor.Name = "sensor"
        	sensor.Pin = "0"

        	led := gobotGPIO.NewLed(firmata)
        	led.Name = "led"
        	led.Pin = "3"

        	work := func() {
        		gobot.Every("0.1s", func() {
        			val := sensor.Read()
        			brightness := uint8(gobotGPIO.ToPwm(val))
        			fmt.Println("sensor", val)
        			fmt.Println("brightness", brightness)
        			led.Brightness(brightness)
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{firmata},
        		Devices:     []gobot.Device{sensor, led},
        		Work:        work,
        	}

        	robot.Start()
        }

