---
layout: documentation
page_title_show: true
title: "Gobot Example - makey_button"
page_title: "Example: makey_button"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-firmata/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>makey_button</a></li>"

---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::go
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-firmata"
        	"github.com/hybridgroup/gobot-gpio"
        )

        func main() {
        	firmata := new(gobotFirmata.FirmataAdaptor)
        	firmata.Name = "firmata"
        	firmata.Port = "/dev/ttyACM0"

        	button := gobotGPIO.NewMakeyButton(firmata)
        	button.Name = "button"
        	button.Pin = "2"

        	led := gobotGPIO.NewLed(firmata)
        	led.Name = "led"
        	led.Pin = "13"

        	work := func() {
        		gobot.On(button.Events["push"], func(data interface{}) {
        			led.On()
        		})

        		gobot.On(button.Events["release"], func(data interface{}) {
        			led.Off()
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{firmata},
        		Devices:     []gobot.Device{button, led},
        		Work:        work,
        	}

        	robot.Start()
        }

