---
layout: documentation
page_title_show: true
title: "Gobot Example - servo"
page_title: "Example: servo"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-firmata/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

.example
  :markdown
        :::go
        package main

        import (
        	"fmt"
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-firmata"
        	"github.com/hybridgroup/gobot-gpio"
        )

        func main() {

        	firmata := new(gobotFirmata.FirmataAdaptor)
        	firmata.Name = "firmata"
        	firmata.Port = "/dev/ttyACM0"

        	servo := gobotGPIO.NewServo(firmata)
        	servo.Name = "servo"
        	servo.Pin = "3"

        	work := func() {
        		gobot.Every("1s", func() {
        			i := uint8(gobot.Rand(180))
        			fmt.Println("Turning", i)
        			servo.Move(i)
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []gobot.Connection{firmata},
        		Devices:     []gobot.Device{servo},
        		Work:        work,
        	}

        	robot.Start()
        }

