.repository {

  margin-right: 10px;
}

.breadcrumbs {
  
   ul {
    list-style: none;
    display: inline-table;
    margin: 10px 0;

    li {

      display: inline;

      &:first-child a {
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
      }

      &:first-child a:before {
        display: none; 
      }

      &:last-child a {
        padding-right: 20px;
        border-top-right-radius: 10px; 
        border-bottom-right-radius: 10px;
        background: $hero-color;
        
      }

      &:last-child a:after {
        display: none; 
      }

      a {

        display: block;
        float: left;
        height: 30px;
        text-align: center;
        padding: 5px 20px 0 25px;
        position: relative;
        margin: 0 5px 0 0; 
        background: $lesser-title-color;     
        text-decoration: none;
        font-size: 10pt;
        color: #fff;

        &:hover {
          background: $hero-color;
        }

        &:hover:after {
          border-left-color: $hero-color;
        }

        &:after {

          content: "";  
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
            border-left: 15px solid $lesser-title-color;
          position: absolute; right: -15px; top: 0;
          z-index: 1;
        }

        &:before {
          
          content: "";  
          border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid $body-bg-color;
          position: absolute; left: 0; top: 0;
        }
      }
    }
  }
}

.documentation {

  .intro {

    .info-intro {

      float: left;
      width: 60%;
      margin: 0;

      @media only screen and (max-width: $medium-screen) {

        width: 100%;
      }
    }
  }

  .index {

    @include outer-container;
    padding-left: 30px;

    section {

      margin: 0 auto;
      @include span-columns(3 of 9.5);
      background: $color-background-subnav-drivers;
      height: 100px;
      margin-bottom: 20px;
      border-radius: 5px;

      @media only screen and (max-width: $medium-screen) {

        @include span-columns(12);
      }

      a {

        width: 100%;
        height: 100%;
        padding: 10px;
        display: block;
      }

      &:hover {

        background: darken($title-color, 5);
      }

      .title {

        color: #EFECE5;
        font-weight: bold;
      }

      .description {

        color: $hero-subtitle-color;
      }
    }
  }
}


.documentation {

  @include span-columns(12);

  .index {

    padding: 0 0 0 8px;

    li {

      margin: 8px 0;
    }
  }

  .link {

    font-size: 20px;
  }

  .description {

    color: $doc-description-color;
    font-size: 14px;
    line-height: 21px;
    margin: 10px;
  }

  .display {

    width: 35%;
    float: right;
    border: 1px solid rgba($hero-color, 0.14);
    margin: 0 0 19px 20px;

    @media only screen and (max-width: $medium-screen) {

        width: 100%;
    }
  }
}

.circuit {

  .image-circuit {

    width: 50%;
    float: left;

    img {

      height: 300px;
    }
  }

  .description-circuit {

    width: 50%;
    float: right;
  }
}

.commands-api {

  h2 {

    background: $title-color;
    color: white !important;
    padding: 5px 10px;
    font-size: 12pt;
    margin: 20px 0 0 0;

  }

  h4 {

    background: transparent;
    font-size: 11pt;
    font-weight: normal;
    margin-left: 10px;
  }

  h5 {

    background: white;
    padding: 10px;
    margin: 0;
    font-size: 11pt;
  }

  h3 {

    background: white;
    padding: 10px;
    margin: 0;
    font-size: 11pt;
    color: $title-color;
  }

  pre {

    background: white;
    margin: 0;
  }

  p, ul{

    background: white;
    font-size: 10.5pt;
    margin: 0;
    padding: 10px;
    font-family: Inconsolata,Menlo,Monaco,"Bitstream Vera Sans Mono","Courier New",monospace;
  }

  li {

    margin-left: 20px;
  }
}

.commands {

  background: white;
  font-size: 10.5pt;

  span {

      font-family: Inconsolata,Menlo,Monaco,"Bitstream Vera Sans Mono","Courier New",monospace;
      font-size: 14px;
      line-height: 21px;
      background: #fafafa;
      border: 1px solid #ccc;
      color: #444;
      padding: 5px;
  }

  th {

    background: $title-color;
    color: white;
  }

  td {

    border-bottom: 1px solid #d4d4d4;
  }

  .command {

    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-weight: bold;
    font-size: 11pt;
  }

  .param {

    .markdown {

      span {

        background:none;
        border: none;
        padding: 0;
      }
    }
  }
}

.clear {

  clear: both;
}

.image-size-300 {

  width: 200px;
}

.methods {

  dt {

    font-weight: bold;
    background: white;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 17px;
    border: aliceblue;
  }

  dd {

    margin-bottom: 29px;
    padding-left: 10px;
  }

  li {

    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
}

.colors {

  @include span-columns(3);

  @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

    @include span-columns(3);

    p {

      font-size: 10px
    }
  }
  
  @media only screen and (max-width: $medium-screen) {

    @include span-columns(12);
  }
    
  dt {

    font-weight: bold;
    padding: 5px;
    display: inline-block;
    font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 15px;
    border: aliceblue;
    margin-top: 15px;
  }

  dd {

    margin-bottom: 20px;
    display: block;

    p {
    
      margin: 0;
      line-height: 50px;
    }
  }
}
