.important-title {
  
  color: $hero-title-color;
  background: $title-color;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;

  a {

    color: $hero-subtitle-color;
  }
}


.homepage-platform {

  list-style: none !important;
  margin: 0;
  text-align: center;

  li {

    display: inline-block;
    width: 19%;
    padding: 10px;

    @include small-screen {
      width: 100%;
      float: none;
    }

    img {

      &:hover {

        opacity: .8;
      }
    }


    .title {

      a {

        color: $hero-title-color;
        background: $title-color;
        padding:10px;
        color: $hero-title-color;
        display: block;
        width: 100%;

        &:hover {

          background: darken( $title-color ,5 );
        }

      }
    }
    .repo {

      a {

        color: $title-color;
        background: $hero-subtitle-color;
        padding:10px;
        display: block;
        width: 100%;

        &:hover {

          background: darken( $hero-subtitle-color ,5 );
        }
      }
    }
  }
}

.hero {

  margin: 15px 0 0 0;
  background: $hero-color;
  padding: 25px 0;
  @include small-screen {
    margin-top: -8px;
  }

  .title {

    @include title-font(47px, $hero-title-color);
    line-height: 54px;
    width: 100%;
    clear: both;
    opacity: 0.94;
    margin: 0;

    @include small-screen {

      font-size: 23px;
      line-height: 27px;
      padding: 0;

      br {

        display: none;
      }
    }

    @include medium-screen {

      font-size: 33px;
      line-height: 42px;
    }
  }

  .subtitle {

    @include title-font(24px, $hero-subtitle-color);
    font-weight: 550;
    opacity: 0.94;
    margin: 0;
    line-height: 36px;
    margin-top: 3px;

    @include small-screen {

      font-size: 18px;
      line-height: 22px;
      margin-top: 4px;
      padding: 0;
    }
  }

  a {

    @extend .hero-anchors;
  }
}

.social {

  line-height: 0;
  padding: 10px 0;
  background: $social-catcher-background-color;

  .twitter-follow-button {

    vertical-align: top;
  }

  .splitter {

    display: inline-block;
    height: 21px;
  }
  
  @include small-screen {

    .splitter {

      display: block;
      margin-bottom: 5px;
    }
  }
}

.cta {

  padding: 10px 20px;
  display: inline-block;
  margin: 17px 0 0 0;
  font-size: 19px;
  font-weight: bold;

  &, &:visited, &:active {

    background: $cta-color;
    color: $cta-text-color;
  }

  &:hover, &:focus {

    background: $cta-hover-color;
    color: $cta-text-hover-color;
  }

  @include small-screen {

    font-size: 16px;
    padding: 8px 15px;
  }
}

.hero {

  a.cta {

    @extend .cta;
  }
}

.catcher {

  margin: 0 0 38px 0;
  background: $social-catcher-background-color;
  padding: 20px;
  .phrase {

    margin: 0;
  }
  .cta {
  
    margin-top: 8px;
  }
}
