.page-title {

  background: $hero-color;
  padding: 20px 0;
  margin: 10px 0 0 0;

  .title {

    font-family: $page-title-font;
    font-weight: 700;
    font-size: 33px;
    color: $hero-title-color;
    line-height: 28px;
    clear: both;
    opacity: 0.94;
    margin: 0;
  }

  .subtitle {

    @include title-font(21px, $hero-subtitle-color);
    font-weight: 550;
    opacity: 0.94;
    margin: 0;
    line-height: 21px;
    margin-top: 7px;
  }

  a {

    @extend .hero-anchors;
  }
}


//subnav drivers

.subNavfixed {

  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

.marginTopSubnav {

  padding-top: 65px;

}

.subnav-drivers {

  background: $color-background-subnav-drivers;
  padding: 20px 0;

  @media only screen and (max-width: $medium-screen) {

     display: none;
  }

  nav {

    a {

      padding: 5px 10px;
      margin: 20px 10px;
      color: $title-color;

      &:hover {

        color: white;
        background: $color-text-subnav-drivers;
      }
    }

    .active {
    
      color: white;
      background: $color-text-subnav-drivers;
    }
  }
}