.page-title {

  background: $hero-color;
  padding: 25px 0;
  margin: 10px 0 0 0;

  .title {

    font-family: $page-title-font;
    font-weight: 700;
    font-size: 33px;
    color: $hero-title-color;
    line-height: 28px;
    clear: both;
    opacity: 0.94;
    margin: 0;
  }

  .subtitle {

    @include title-font(21px, $hero-subtitle-color);
    font-weight: 550;
    opacity: 0.94;
    margin: 0;
    line-height: 21px;
    margin-top: 7px;
  }

  a {

    @extend .hero-anchors;
  }
}


//subnav drivers

.subNavfixed {

  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0 !important;

  .app-logo {

    display: inline-block !important;
  }

  .container-subnav {

    width: $big-screen;
    margin: 0 auto;

    @include medium-screen($medium-screen, "") {

      padding: 0 15px;
    }

    @include small-screen(100%, "") {

      padding: 0 15px;
    }
  }

  nav {
  
    float: left;
    margin: 20px 0;
  }

  a {

    margin: 20px 10px !important;
  }
}

.marginTopSubnav {

  padding-top: 65px;

}

.subnav-drivers {

  background: $color-background-subnav-drivers;
  padding: 20px 0;

  @media only screen and (max-width: $medium-screen) {

     display: none;
  }

  .app-logo {

      color: $color-text-subnav-drivers;
      font-size: 2em;
      float: left;
      font-family: "Russo One", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 5px;
      display: none;
  }

  nav {


    a {

      padding: 5px 10px;
      margin: 20px 2px;
      color: $hero-color;
      font-size: .9em;

      @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

        font-size: .7em;
      }

      &:hover {

        color: white;
        background: darken($color-background-subnav-drivers,5);
      }
    }

    .active {
    
      color: white;
      background: darken($color-background-subnav-drivers,5);
    }

    a:last-child {

      &:hover {

        background: none;
      }
    }
  }
}