<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta name='description'>
    <meta name='author'>
    <title></title>
    <link href='/stylesheets/style.css' rel='stylesheet'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/javascripts/script.js'></script>
    <script src='/hybridpages/assets/javascript/subnav.js'></script>
    <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700' rel='stylesheet'>
    <link href='/favicon.ico' rel='shortcut icon' type='image/gif'>
  </head>
  <body>
    
    <div class='app'>
      <div class='w'>
        <header class='app-header' role='banner'>
          <div class='display'>
            <h1 class='app-logo'>
              <a href='/'>Gobot</a>
            </h1>
            <span class='subtitle'>
              <div class='main'></div>
            </span>
          </div>
          <span class='menu'>
            <a href="/documentation" class="item">Docs</a>
            <a href="/documentation/platforms" class="item">Platforms</a>
            
            
            <a class="item" target="blanck" href="https://github.com/hybridgroup/gobot/">Github</a>
          </span>
        </header>
      </div>
      <div class='container'>
        /* line 1, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay {
          background-color: white;
          border: 1px solid #CCC;
          font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
          color: black;
          padding: 1em 0px 1em 1em;
          clear: both; }
        
        /* line 10, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay pre {
          margin: 0px; }
        
        /* line 15, ../hybridpages/assets/stylesheets/coderay.scss */
        span.CodeRay {
          white-space: pre;
          border: 0px;
          padding: 2px; }
        
        /* line 17, ../hybridpages/assets/stylesheets/coderay.scss */
        table.CodeRay {
          border-collapse: collapse;
          width: 100%;
          padding: 2px; }
        
        /* line 18, ../hybridpages/assets/stylesheets/coderay.scss */
        table.CodeRay td {
          padding: 1em 0.5em;
          vertical-align: top; }
        
        /* line 23, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .line-numbers, .CodeRay .no {
          background-color: #ECECEC;
          color: #AAA;
          text-align: right; }
        
        /* line 29, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .line-numbers a {
          color: #AAA; }
        
        /* line 33, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .line-numbers tt {
          font-weight: bold; }
        
        /* line 34, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .line-numbers .highlighted {
          color: red; }
        
        /* line 35, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .line {
          display: block;
          float: left;
          width: 100%; }
        
        /* line 36, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay span.line-numbers {
          padding: 0px 4px; }
        
        /* line 37, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .code {
          width: 100%; }
        
        /* line 39, ../hybridpages/assets/stylesheets/coderay.scss */
        ol.CodeRay {
          font-size: 10pt; }
        
        /* line 40, ../hybridpages/assets/stylesheets/coderay.scss */
        ol.CodeRay li {
          white-space: pre; }
        
        /* line 42, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .code pre {
          overflow: auto; }
        
        /* line 43, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .debug {
          color: white !important;
          background: blue !important; }
        
        /* line 45, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .annotation {
          color: #000077; }
        
        /* line 46, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .attribute-name {
          color: #ff0088; }
        
        /* line 47, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .attribute-value {
          color: #770000; }
        
        /* line 48, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .binary {
          color: #509;
          font-weight: bold; }
        
        /* line 49, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .comment {
          color: #998;
          font-style: italic; }
        
        /* line 50, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .char {
          color: #0044dd; }
        
        /* line 51, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .char .content {
          color: #0044dd; }
        
        /* line 52, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .char .delimiter {
          color: #003399; }
        
        /* line 53, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .class {
          color: #458;
          font-weight: bold; }
        
        /* line 54, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .complex {
          color: #A08;
          font-weight: bold; }
        
        /* line 55, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .constant {
          color: teal; }
        
        /* line 56, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .color {
          color: #00aa00; }
        
        /* line 57, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .class-variable {
          color: #336699; }
        
        /* line 58, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .decorator {
          color: #B0B; }
        
        /* line 59, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .definition {
          color: #099;
          font-weight: bold; }
        
        /* line 60, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .directive {
          color: #088;
          font-weight: bold; }
        
        /* line 61, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .delimiter {
          color: black; }
        
        /* line 62, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .doc {
          color: #997700; }
        
        /* line 63, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .doctype {
          color: #3344bb; }
        
        /* line 64, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .doc-string {
          color: #D42;
          font-weight: bold; }
        
        /* line 65, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .escape {
          color: #666;
          font-weight: bold; }
        
        /* line 66, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .entity {
          color: #800;
          font-weight: bold; }
        
        /* line 67, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .error {
          color: #F00;
          background-color: #ffaaaa; }
        
        /* line 68, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .exception {
          color: #C00;
          font-weight: bold; }
        
        /* line 69, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .filename {
          color: #099; }
        
        /* line 70, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .function {
          color: #900;
          font-weight: bold; }
        
        /* line 71, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .global-variable {
          color: teal;
          font-weight: bold; }
        
        /* line 72, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .hex {
          color: #058;
          font-weight: bold; }
        
        /* line 73, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .integer {
          color: #099; }
        
        /* line 74, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .include {
          color: #B44;
          font-weight: bold; }
        
        /* line 75, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .inline {
          color: black; }
        
        /* line 76, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .inline .inline {
          background: #cccccc; }
        
        /* line 77, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .inline .inline .inline {
          background: #bbbbbb; }
        
        /* line 78, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .inline .inline-delimiter {
          color: #D14; }
        
        /* line 79, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .inline-delimiter {
          color: #D14; }
        
        /* line 80, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .important {
          color: #f00; }
        
        /* line 81, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .interpreted {
          color: #B2B;
          font-weight: bold; }
        
        /* line 82, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .instance-variable {
          color: teal; }
        
        /* line 83, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .label {
          color: #970;
          font-weight: bold; }
        
        /* line 84, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .local-variable {
          color: #996633; }
        
        /* line 85, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .octal {
          color: #40E;
          font-weight: bold; }
        
        /* line 87, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .predefined-constant {
          font-weight: bold; }
        
        /* line 88, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .predefined {
          color: #369;
          font-weight: bold; }
        
        /* line 89, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .preprocessor {
          color: #579; }
        
        /* line 90, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .pseudo-class {
          color: #00C;
          font-weight: bold; }
        
        /* line 91, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .predefined-type {
          color: #074;
          font-weight: bold; }
        
        /* line 92, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .reserved, .keyword {
          color: #000;
          font-weight: bold; }
        
        /* line 94, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .key {
          color: #808; }
        
        /* line 95, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .key .delimiter {
          color: #606; }
        
        /* line 96, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .key .char {
          color: #80f; }
        
        /* line 97, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .value {
          color: #088; }
        
        /* line 99, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .regexp {
          background-color: #fff0ff; }
        
        /* line 100, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .regexp .content {
          color: #880088; }
        
        /* line 101, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .regexp .delimiter {
          color: #440044; }
        
        /* line 102, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .regexp .modifier {
          color: #cc22cc; }
        
        /* line 103, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .regexp .function {
          color: #404;
          font-weight: bold; }
        
        /* line 105, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .string {
          color: #D20; }
        
        /* line 107, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .string .string .string {
          background-color: #ffd0d0; }
        
        /* line 108, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .string .content {
          color: #D14; }
        
        /* line 109, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .string .char {
          color: #D14; }
        
        /* line 110, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .string .delimiter {
          color: #D14; }
        
        /* line 112, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .shell {
          color: #dd1144; }
        
        /* line 114, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .shell .delimiter {
          color: #dd1144; }
        
        /* line 116, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .symbol {
          color: #990073; }
        
        /* line 117, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .symbol .content {
          color: #aa6600; }
        
        /* line 118, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .symbol .delimiter {
          color: #663300; }
        
        /* line 120, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .tag {
          color: #007700; }
        
        /* line 121, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .tag-special {
          color: #D70;
          font-weight: bold; }
        
        /* line 122, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .type {
          color: #339;
          font-weight: bold; }
        
        /* line 123, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .variable {
          color: #003366; }
        
        /* line 125, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .insert {
          background: #afa; }
        
        /* line 126, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .delete {
          background: #faa; }
        
        /* line 127, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .change {
          color: #aaf;
          background: #007; }
        
        /* line 128, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .head {
          color: #f8f;
          background: #550055; }
        
        /* line 130, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .insert .insert {
          color: #080;
          font-weight: bold; }
        
        /* line 131, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .delete .delete {
          color: #800;
          font-weight: bold; }
        
        /* line 132, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .change .change {
          color: #66f; }
        
        /* line 133, ../hybridpages/assets/stylesheets/coderay.scss */
        .CodeRay .head .head {
          color: #f4f; }
      </div>
    </div>
    <footer class='app-footer'>
      <div class='w'>
        <div class='copyright'>
          &copy; Copyright 2012-2014
          <a href='http://hybridgroup.com'>The Hybrid Group.</a>
        </div>
      </div>
    </footer>
  </body>
</html>
