---
layout: page
title: Cylon.js Examples
page_title: Examples
author: The Hybrid Group
description: Cylon.js code snippets for your convinience.
---

:markdown

  #### Arduino : [Cylon.js-arduino](https://github.com/hybridgroup/Cylon.js-arduino)

  For complete setup, follow the [Arduino - Making an led blink with Cylon.js Tutorial](https://github.com/hybridgroup/Cylon.js/wiki/1.3.1.-Arduino-Making-A-Led-Blink-With-Cylon.js) in our wiki.

      :::ruby
      require 'Cylon.js'

      connection :arduino, adaptor: :firmata, port: '/dev/ttyACM0'
      device :led, driver: :led, pin: 13
      device :button, driver: :button, pin: 2

      work do
        on button, push: proc {led.toggle}
      end

  #### AR.Drone 2.0 : [Cylon.js-ardrone](https://github.com/hybridgroup/Cylon.js-ardrone)
      :::ruby
      require 'Cylon.js'

      connection :ardrone, adaptor: :ardrone
      device :drone, driver: :ardrone

      work do
        drone.start
        drone.take_off

        after(25.seconds) { drone.hover.land }
        after(30.seconds) { drone.stop }
      end

  #### Roomba : [Cylon.js-roomba](https://github.com/hybridgroup/Cylon.js-roomba)
      :::ruby
      require 'Cylon.js'

      connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
      device :roomba, :driver => :roomba, :connection => :roomba

      work do
        roomba.safe_mode
        roomba.nudge_left
        roomba.nudge_right
        roomba.nudge_right
        roomba.nudge_left
      end

  #### Sphero : [Cylon.js-sphero](https://github.com/hybridgroup/Cylon.js-sphero)

  For complete setup, follow [Sphero Tutorial](https://github.com/hybridgroup/Cylon.js/wiki/1.3.2.-Sphero) in our wiki.

      :::ruby
      require 'Cylon.js/robot'

      SPHEROS = ["4567", "4568", "4569", "4570", "4571"]

      class SpheroRobot < Cylon.js::Robot
        connection :sphero, adaptor: :sphero
        device :sphero, driver: :sphero

        work do
          every(3.seconds) do
            sphero.roll 90, rand(360)
          end
        end
      end

      robots = SPHEROS.map do |p|
        SpheroRobot.new(connections: {sphero: {port: p}})
      end

      SpheroRobot.work!(robots)

  #### Leapmotion : [Cylon.js-leapmotion](https://github.com/hybridgroup/Cylon.js-leapmotion)

      :::ruby
      require 'Cylon.js'

      connection :leapmotion, :adaptor => :leapmotion, :port => '127.0.0.1:6437'
      device :leapmotion, :driver => :leapmotion

        work do
          on leapmotion, :open => :on_open
          on leapmotion, :hand => :on_hand
          on leapmotion, :close => :on_close
        end

        def on_open(*args)
          puts args
        end

        def on_hand(*args)
          puts args[1]
        end

        def on_close(*args)
          puts args
        end

  #### Pebble : [Cylon.js-pebble](https://github.com/hybridgroup/Cylon.js-pebble)

      :::ruby
      require 'Cylon.js'

      connection :pebble, :adaptor => :pebble, :port => "/dev/rfcomm0", :id => "378B"
      device :watch, :driver => :pebble

      work do
        watch.set_nowplaying_metadata("Cylon.js", "Hello", Time.now.to_s)
        every(5.seconds) do
          watch.set_nowplaying_metadata("Cylon.js", "Update...", Time.now.to_s)
        end
      end

  #### Raspberry Pi : [Cylon.js-raspi](https://github.com/hybridgroup/Cylon.js-raspi)

      :::ruby
      require 'Cylon.js'

      connection :raspi, :adaptor => :raspi
      device :led, :driver => :led, :pin => 17

      work do
        every 1.second do
          led.toggle
        end
      end

  You can find many more examples on [GitHub](https://github.com/hybridgroup/Cylon.js/tree/master/examples).
