/* line 1, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  /* line 2, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .hll {
    background-color: #ffffcc; }
  /* line 3, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .c {
    color: #999988;
    font-style: italic; }
  /* line 4, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  /* line 5, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .k {
    color: #000000;
    font-weight: bold; }
  /* line 6, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .o {
    color: #000000;
    font-weight: bold; }
  /* line 7, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .cm {
    color: #999988;
    font-style: italic; }
  /* line 8, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .cp {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  /* line 9, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .c1 {
    color: #999988;
    font-style: italic; }
  /* line 10, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  /* line 11, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
  /* line 12, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .ge {
    color: #000000;
    font-style: italic; }
  /* line 13, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gr {
    color: #aa0000; }
  /* line 14, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gh {
    color: #999999; }
  /* line 15, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
  /* line 16, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .go {
    color: #888888; }
  /* line 17, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gp {
    color: #555555; }
  /* line 18, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gs {
    font-weight: bold; }
  /* line 19, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gu {
    color: #aaaaaa; }
  /* line 20, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .gt {
    color: #aa0000; }
  /* line 21, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .kc {
    color: #000000;
    font-weight: bold; }
  /* line 22, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .kd {
    color: #000000;
    font-weight: bold; }
  /* line 23, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .kn {
    color: #000000;
    font-weight: bold; }
  /* line 24, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .kp {
    color: #000000;
    font-weight: bold; }
  /* line 25, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .kr {
    color: #000000;
    font-weight: bold; }
  /* line 26, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .kt {
    color: #445588;
    font-weight: bold; }
  /* line 27, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .m {
    color: #009999; }
  /* line 28, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .s {
    color: #d01040; }
  /* line 29, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .na {
    color: teal; }
  /* line 30, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nb {
    color: #0086b3; }
  /* line 31, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nc {
    color: #445588;
    font-weight: bold; }
  /* line 32, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .no {
    color: teal; }
  /* line 33, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nd {
    color: #3c5d5d;
    font-weight: bold; }
  /* line 34, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .ni {
    color: purple; }
  /* line 35, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .ne {
    color: #990000;
    font-weight: bold; }
  /* line 36, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nf {
    color: #990000;
    font-weight: bold; }
  /* line 37, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nl {
    color: #990000;
    font-weight: bold; }
  /* line 38, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nn {
    color: #555555; }
  /* line 39, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nt {
    color: navy; }
  /* line 40, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .nv {
    color: teal; }
  /* line 41, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .ow {
    color: #000000;
    font-weight: bold; }
  /* line 42, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .w {
    color: #bbbbbb; }
  /* line 43, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .mf {
    color: #009999; }
  /* line 44, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .mh {
    color: #009999; }
  /* line 45, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .mi {
    color: #009999; }
  /* line 46, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .mo {
    color: #009999; }
  /* line 47, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .sb {
    color: #d01040; }
  /* line 48, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .sc {
    color: #d01040; }
  /* line 49, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .sd {
    color: #d01040; }
  /* line 50, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .s2 {
    color: #d01040; }
  /* line 51, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .se {
    color: #d01040; }
  /* line 52, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .sh {
    color: #d01040; }
  /* line 53, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .si {
    color: #d01040; }
  /* line 54, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .sx {
    color: #d01040; }
  /* line 55, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .sr {
    color: #009926; }
  /* line 56, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .s1 {
    color: #d01040; }
  /* line 57, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .ss {
    color: #990073; }
  /* line 58, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .bp {
    color: #999999; }
  /* line 59, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .vc {
    color: teal; }
  /* line 60, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .vg {
    color: teal; }
  /* line 61, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .vi {
    color: teal; }
  /* line 62, /Users/xixebombilla/Desktop/THG/gobot/source/stylesheets/pygments.scss */
  .highlight .il {
    color: #009999; }
