.hardware {

  .devices {

  	@include outer-container;
    text-align: center;

    .device {

      display: inline-block;
      width: 225px;

      &:hover {

        img {
      
          opacity: .9;
        }

        background: $title-color;
      }

      img {
      
      	 width: 100%;
      }
    }   
  }
}
  