html {

  min-height:100%;
  position:relative;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#THG-logo {

  img {

    margin-bottom: -15px;
    width: 150px;
    padding: 5px;

    &:hover {

      background: darken($hero-color, 5);
    }
  }
}

.container, .w {

  width: $big-screen;
  margin: 0 auto;

  @include medium-screen($medium-screen, "") {

    padding: 0 15px;
  }

  @include small-screen(100%, "") {

    padding: 0 15px;
  }

}

.main[role="main"] {

  padding-bottom: 40px;
  @include outer-container;

  .videos {

    .video {

      @include span-columns(6);
      margin: .5%;

      h3 {

        font-size: 16px;
      }

      iframe, object {

        width: 100%;
        height: 300px;
      }

      @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

        iframe, object {

          height: 240px;
        }
      }

      @media only screen and (max-width: $medium-screen) {

        @include span-columns(12);

        iframe, object {

          height: 240px;
        }
      }
    }

    .video-index {

      @include span-columns(10);

      iframe, object {

        width: 100%;
        height: 400px;
      }

      @media only screen and (min-width: $medium-screen) and (max-width: $big-screen)  {

        iframe, object {

          height: 300px;
        }
      }

      @media only screen and (max-width: $medium-screen) {

        iframe, object {
        
          height: 180px;
        }
      }
    }
  }
  
  .content {

    &.full {

      width: 100%;
      clear: both;
    }

    h1, h2 {

      color: $title-color;
    }

    h1 {

      font-size: 35pt;
      padding: 10px 0;

    }
  }
  
  .aside.right {

    @include span-columns(3);
    padding-top: 0px;
    text-align: right;

    img {

      width: 100%;
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  section.content {

    .index-content {
    
      @include margin-not-last-child;
      @include span-columns(8);
    }
  }
}