:markdown
  # Commands

  ## RgbC

  Text here

  ##### Params

  ##### Returns

  `nil`

  ## ColorC

  Text here

  ##### Params

  ##### Returns

  `nil`

  ## FadeC

  Text here

  ##### Params

  ##### Returns

  `nil`

  ## FirmwareVersionC

  Text here

  ##### Params

  ##### Returns

  `nil`