:markdown
  # Events

  ## z_button

  Get's triggered every interval amount of time if the z button is pressed.

  ## c_button

  Get's triggered every interval amount of time if the c button is pressed.

  ## joystick

  Get's triggered every "interval" amount of time if a joystick event occured, you can access values x, y.