:markdown
  # Events

  ## start

  Sent when the device has been started and is ready to use.  

  ## z_button

  Get's triggered every interval amount of time if the square button is pressed.

  ## c_button

  Get's triggered every interval amount of time if the square button is pressed.

  ## joystick

  Get's triggered every "interval" amount of time if a joystick event occured, you can access values x, y.