.comments  
  .addthis_toolbox.addthis_default_style.addthis_32x32_style
    %a.addthis_button_preferred_2
    %a.addthis_button_preferred_3
    %a.addthis_button_preferred_1
    %a.addthis_button_preferred_4
    %a.addthis_button_compact
    %a.addthis_counter.addthis_bubble_style 
  #disqus_thread
  %noscript
    Please enable JavaScript to view the
    %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
  %a.dsq-brlink{href: "http://disqus.com"}
    comments powered by
    %span.logo-disqus Disqus