---
page_title_show: true
title: Gobot Blog
page_title: Blog
author: The Hybrid Group
layout: blog
active_menu_blog: true
---
- content_for(:subtitle, "Articles tagged with “#{tagname}”")

- page_articles.each_with_index do |article, i|
  = partial "/blog/article", locals: {article: article}
