---
layout: documentation
page_title_show: true
title: "Gobot Example - led_brightness"
page_title: "Example: led_brightness"
author: The Hybrid Group
description: A Gobot code example
page_subtitle: "<a href='https://github.com/hybridgroup/gobot-spark/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>led_brightness</a></li>"

---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::go
        package main

        import (
        	"github.com/hybridgroup/gobot"
        	"github.com/hybridgroup/gobot-gpio"
        	"github.com/hybridgroup/gobot-spark"
        )

        func main() {

        	spark := new(gobotSpark.SparkAdaptor)
        	spark.Name = "spark"
        	spark.Params = map[string]interface{}{
        		"device_id":    "",
        		"access_token": "",
        	}

        	led := gobotGPIO.NewLed(spark)
        	led.Name = "led"
        	led.Pin = "A1"

        	work := func() {
        		brightness := uint8(0)
        		fade_amount := uint8(15)

        		gobot.Every("0.5s", func() {
        			led.Brightness(brightness)
        			brightness = brightness + fade_amount
        			if brightness == 0 || brightness == 255 {
        				fade_amount = -fade_amount
        			}
        		})
        	}

        	robot := gobot.Robot{
        		Connections: []Connection{spark},
        		Devices:     []Device{led},
        		Work:        work,
        	}

        	robot.Start()
        }

