:markdown
  # Events

  ## hand

  Gets triggered when doing a hand motion, makes hand input available.

  ## gesture

  Gets triggered when doing a gesture motion, makes hand input available.

  ## pointable

  Gets triggered when doing a pointable motion, makes hand input available.

  ## frame

  Gets triggered with every motion detected, makes frame input available.

  ## start

  Sent when the device has been started and is ready to use.

  ## Message

  Gets triggered when receiving a message.