---
hero: true
social: true
title: Gobot
author: The Hybrid Group
description: Gobot is a Go framework for robotics and physical computing. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
layout: home
---

:markdown
  ## About
  
  Gobot is set of libraries in the Go programming language for robotics and physical computing.

  It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.

  Want to use Ruby on robots? Check out our sister project Artoo [(http://artoo.io)](http://artoo.io).

  Want to use Node.js? Check out our sister project Cylon [(http://cylonjs.com)](http://cylonjs.com).

  ## Be Part Of The Robot Evolution

  - Code on Github:   [https://github.com/hybridgroup/gobot](https://github.com/hybridgroup/gobot)
  - Join us on IRC:   `#gobot @ irc.freenode.net`
  - Join us on our [Trello Board](https://trello.com/b/kQPsldtk/gobot).
