---
title: Gobot Videos
page_title: Videos
page_subtitle: gobot around the world.
layout: page
active_menu_videos: true
---

%section.videos
  %p During the past few months we've been traveling around the world to many different conferences to talk about gobot, here we have just some of the videos, soon we'll add more!
  .video
    %h3 LA RubyConf 2013 - gobot Keynote
    %iframe{:src => "http://www.youtube.com/embed/ciSs9x_Ogls", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h3 RubyKaigi 2013 - gobot
    %iframe{:src => "http://player.vimeo.com/video/69688042", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h3 RailsConf 2013 - gobot Lightning Talk
    <object type="application/x-shockwave-flash" id="clip_embed_player_flash" data="http://www-cdn.justin.tv/widgets/archive_embed_player.swf" bgcolor="#000000"><param name="movie" value="http://www-cdn.justin.tv/widgets/archive_embed_player.swf" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="allowFullScreen" value="true" /><param name="flashvars" value="auto_play=false&start_volume=25&title=Title&channel=confreaks&chapter_id=2250467" /></object>
  .video
    %h3 LA RubyConf 2013 - ARDrone flying manually
    %iframe{:src => "http://www.youtube.com/embed/VjIi32jsnH4", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h3 LA RubyConf 2013 - ARDrone flying programatically
    %iframe{:src => "http://www.youtube.com/embed/GqHqRSTIqQI", :frameborder => "0", :allowfullscreen => "true"}
